<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list">
            <a class="item">
                <img src="https://mx-beauty.oss-cn-beijing.aliyuncs.com/%E5%A4%B4%E5%83%8F.png"
                     style="width:45%;margin-left:25%">
                <i class="ion ion-android-camera" style="color:black;position: absolute;margin-left: 55%;font-size:30px;margin-top:-40px"></i>
                <p class="item-note" style="margin-top: 30px">
                    苗向阳
                </p>
                <p style="font-weight:bold;margin-top:30px;font-size:16px">姓名</p>
            </a>
        </div>
        <div class="list" style="margin-top:-10px">
            <a class="item">
                <p class="item-note">育湖中学</p>
                <p>院校</p>
            </a>
            <a class="item">
                <p class="item-note">教师</p>
                <p>身份</p>
            </a>
            <a class="item">
                <p class="item-note">班主任</p>
                <p>职务</p>
            </a>
        </div>
    </ion-content>
</ion-view>