<ion-view class="educationMoreInfo">
    <div class="emi-title">
        选择更多
    </div>
    <div class="emi">
        <div class="emi-item" ng-click="educationVacation()">
            <div class="emi-i-icon">
                <img src="images/qingjia.png"/>
            </div>
            <div class="emi-i-text">请假</div>
        </div>
        <div class="emi-item" ng-click="goRenRenTong()">
            <div class="emi-i-icon">
                <img src="images/rrt.png"/>
            </div>
            <div class="emi-i-text">人人通</div>
        </div>
        <div class="emi-item" ng-click="goJiaxiaoTong()">
            <div class="emi-i-icon">
                <img src="images/jxt.png"/>
            </div>
            <div class="emi-i-text">家校通</div>
        </div>
    </div>
    <div class="emi">
        <div class="emi-item" ng-click="educationVacation()">
            <div class="emi-i-icon">
                <img src="images/hbb.png"/>
            </div>
            <div class="emi-i-text">黑板报</div>
        </div>
        <div class="emi-item">
            <div class="emi-i-icon">
                <img src="images/cjfx.png"/>
            </div>
            <div class="emi-i-text">成绩分析</div>
        </div>
        <div class="emi-item" ng-click="educationMoral()">
            <div class="emi-i-icon" style="background: white;border:white">
                <img src="images/dylh.png"/>
            </div>
            <div class="emi-i-text">德育量化</div>
        </div>
    </div>
</ion-view>