<div class="wrapper-md" ng-controller="Hunan_information_serviceHonorCtrl">

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    常德交通信息服务平台
                </div>
                <div class="row wrapper">
                    <div class="col-sm-5 m-b-xs">
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="Search" ng-model="pageParam.requestData">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" ng-click="searchData()">搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="overflow: auto">
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'g'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[0]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in sslyzgl_qyryb">
                                <td>{{info.honorLevel}}</td><!--荣誉级别-->
                                <td>{{info.honorTitle}}</td><!--荣誉名称-->
                                <td>{{info.honorDesc}}</td><!--荣誉描述-->
                                <td></td><!--创建人-->
                                <td>{{info.credate}}</td><!--创建日期-->
                                <td>{{info.cretime}}</td><!--创建时间-->
                                <td></td><!--修改人-->
                                <td>{{info.edidate}}</td><!--修改日期-->
                                <td>{{info.editime}}</td><!--修改时间-->
                                <td>{{info.insertDate}}</td><!--时间戳-->
                                <td>{{info.auditStatus}}</td><!--审核状态-->
                                <td>{{info.auditContent}}</td><!--审核意见-->
                                <td>{{info.honorDate}}</td><!--获得日期-->
                                <td>{{info.remark}}</td><!--备注-->
                                <td>{{info.iseffect}}</td><!--是否有效-->
                                <td>{{info.auditDep}}</td><!--审核机构-->
                                <td>{{info.auditUsr}}</td><!--审核人-->
                                <td>{{info.auditDate}}</td><!--审核时间-->
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'h'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[1]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in sslyzgl_yhzlzgb">
                                <td>{{info.reformNo}}</td><!--整改编号-->
                                <td>{{info.reformTitle}}</td><!--整改标题-->
                                <td></td><!--申请单号-->
                                <td>{{info.checkPerson}}</td><!--检查人员-->
                                <td></td><!--检查内容-->
                                <td>{{info.startReformDate}}</td><!--开始整改日期-->
                                <td>{{info.endReformDate}}</td><!--结束整改日期-->
                                <td>{{info.lawContent}}</td><!--法律法规-->
                                <td>{{info.reformContent}}</td><!--整改报告-->
                                <td></td><!--报告提交日期-->
                                <td>{{inf.approvalDate}}</td><!--验收时间-->
                                <td>{{info.approvalPerson}}</td><!--验收人员-->
                                <td></td><!--下发日期-->
                                <td>{{info.checkDate}}</td><!--检查日期-->
                                <td>{{info.checkOrg}}</td><!--检查机构-->
                                <td>{{info.approvalResult}}</td><!--验收结果-->
                                <td>{{info.reformStatus}}</td><!--整改状态-->
                                <td></td><!--是否有效-->
                                <td></td><!--创建人-->
                                <td>{{info.credate}}</td><!--创建日期-->
                                <td>{{info.cretime}}</td><!--创建时间-->
                                <td></td><!--修改人-->
                                <td>{{info.edidate}}</td><!--修改日期-->
                                <td>{{info.editime}}</td><!--修改时间-->
                                <td></td><!--时间戳-->
                                <td>{{info.approvalRemark}}</td><!--验收意见-->
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'i'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[2]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_zgnrb">
                            <td>{{info.reformContent}}</td><!--整改内容-->
                            <td></td><!--排序-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">

                        </div>
                        <div class="col-sm-4 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">常德交通信息服务平台</small>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                                <li ng-click="pageIndex(pageParam.pageNo)"><a href>{{pageParam.pageNo}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+1)"><a href>{{pageParam.pageNo+1}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+2)"><a href>{{pageParam.pageNo+2}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+3)"><a href>{{pageParam.pageNo+3}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+4)"><a href>{{pageParam.pageNo+4}}</a></li>
                                <li><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

</div>