<div class="wrapper-md" ng-controller="Hunan_information_serviceComplaintCtrl">

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    常德交通信息服务平台
                </div>
                <div class="row wrapper">
                    <div class="col-sm-5 m-b-xs">
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="输入搜索信息" >
                            <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">搜索</button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="overflow: auto">
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'important'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[0]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_shtsb">
                            <td>{{info.serialNo}}</td><!--序号-->
                            <td>{{info.compId}}</td><!--投诉号-->
                            <td>{{info.compName}}</td><!--投诉人-->
                            <td>{{info.compDate}}</td><!--投诉日期-->
                            <td>{{info.compContent}}</td><!--投诉内容-->
                            <td>{{info.compDepart}}</td><!--投诉部门-->
                            <td>{{info.socialInfluence}}</td><!--社会影响-->
                            <td></td><!--违法事实-->
                            <td>{{info.compDeal}}</td><!--处理情况-->
                            <td>{{info.compPhone}}</td><!--投诉电话-->
                            <td>{{info.compSource}}</td><!--投诉人来源-->
                            <td></td><!--被投诉人-->
                            <td>{{info.email}}</td><!--电子邮件-->
                            <td></td><!--媒体曝光-->
                            <td></td><!--处罚类型-->
                            <td>{{info.compType}}</td><!--投诉类型-->
                            <td>{{info.userPhone}}</td><!--投诉人联系电话-->
                            <td>{{info.recorderUnit}}</td><!--记录人单位-->
                            <td>{{info.recorderPhone}}</td><!--记录人电话-->
                            <td>{{info.recorder}}</td><!--记录人-->
                            <td>{{info.dealDate}}</td><!--处理日期-->
                            <td>{{info.dealDepart}}</td><!--处理部门-->
                            <td>{{info.dealDeptOpinion}}</td><!--处理部门意见-->
                            <td>{{info.dealResult}}</td><!--处理结果意见-->
                            <td>{{info.iseffect}}</td><!--是否有效-->
                            <td></td><!--创建人-->
                            <td>{{info.credate}}</td><!--创建日期-->
                            <td>{{info.cretime}}</td><!--创建时间-->
                            <td></td><!--修改人-->
                            <td>{{info.edidate}}</td><!--修改日期-->
                            <td>{{info.editime}}</td><!--修改时间-->
                            <td>{{info.insertDate}}</td><!--时间戳-->
                            <td>{{info.auditStatus}}</td><!--审核状态-->
                            <td>{{info.ediusrcode}}</td><!--车辆编号-->
                            <td>{{info.auditContent}}</td><!--审核意见-->
                            <td></td><!--人员扣分-->
                            <td></td><!--从业资格证号-->
                            <td>{{info.auditDep}}</td><!--审核机构-->
                            <td>{{info.auditUsr}}</td><!--审核人-->
                            <td>{{info.auditDate}}</td><!--审核时间-->
                            <td></td><!--信用信息来源-->
                            <td>{{info.cardno}}</td><!--身份证号-->
                            <td>{{info.drivername}}</td><!--驾驶员姓名-->
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'draft'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[1]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_yhkhsbb">
                            <td>{{info.serialNo}}</td><!--序号-->
                            <td>{{info.reportId}}</td><!--申报号-->
                            <td>{{info.reportDate}}</td><!--申报日期-->
                            <td>{{info.reportYear}}</td><!--考核年度-->
                            <td>{{info.reportType}}</td><!--申报类型-->
                            <td>{{info.reportContent}}</td><!--申报内容-->
                            <td></td><!--自评得分-->
                            <td></td><!--自评等级-->
                            <td>{{info.reportScore}}</td><!--考核得分-->
                            <td>{{info.reportLevel}}</td><!--考核等级-->
                            <td></td><!--初评机构-->
                            <td></td><!--税务登记号-->
                            <td>{{info.ownerId}}</td><!--工商营业执照号-->
                            <td></td><!--经营状态-->
                            <td>{{info.phone}}</td><!--联系电话-->
                            <td></td><!--经营负责人-->
                            <td></td><!--法定代表人证件类别-->
                            <td></td><!--法定代表人联系电话-->
                            <td></td><!--法定代表人-->
                            <td></td><!--经济类型-->
                            <td></td><!--行政区域代码-->
                            <td>{{info.postalCode}}</td><!--邮政编码-->
                            <td>{{info.address}}</td><!--业户地址-->
                            <td></td><!--分支机构编码-->
                            <td></td><!--上级业户编码-->
                            <td></td><!--管理机构编码-->
                            <td>{{info.gradepcode}}</td><!--发证机关-->
                            <td>{{info.endDate}}</td><!--有效期止-->
                            <td>{{info.reportId}}</td><!--许可证号-->
                            <td>{{info.scopeBusiness}}</td><!--经营范围-->
                            <td>{{info.ownerType}}</td><!--企业实体类型-->
                            <td>{{info.ownerName}}</td><!--企业名称-->
                            <td></td><!--是否有效-->
                            <td></td><!--创建人-->
                            <td>{{info.credate}}</td><!--创建日期-->
                            <td>{{info.cretime}}</td><!--创建时间-->
                            <td></td><!--修改人-->
                            <td>{{info.edidate}}</td><!--修改日期-->
                            <td>{{info.editime}}</td><!--修改时间-->
                            <td>{{info.insertDate}}</td><!--时间戳-->
                            <td>{{info.finalScore}}</td><!--初评分数-->
                            <td>{{info.firstLevel}}</td><!--初评等级-->
                            <td>{{info.cltLevel}}</td><!--综评分数-->
                            <td>{{info.cltScore}}</td><!--综评等级-->
                            <td>{{info.lastScore}}</td><!--复评分数-->
                            <td>{{info.lastLevel}}</td><!--复评等级-->
                            <td></td><!--回复意见-->
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'trash'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[2]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_cyrykhqzb">
                            <td>{{info.serialNo}}</td><!--序号-->
                            <td></td><!--从业人员-->
                            <td>{{info.creditYear}}</td><!--考核年度-->
                            <td>{{info.startDate}}</td><!--考核周期起始日期-->
                            <td>{{info.endDate}}</td><!--结束日期-->
                            <td>{{info.score}}</td><!--得分-->
                            <td>{{info.totalScore}}</td><!--累计积分-->
                            <td>{{info.dcStatus}}</td><!--状态-->
                            <td></td><!--从业资格类别-->
                            <td>{{info.dcLevel}}</td><!--考核级别-->
                            <td>{{info.remark}}</td><!--备注-->
                            <td>{{info.auditUser}}</td><!--评定人-->
                            <td>{{info.auditDate}}</td><!--评定时间-->
                            <td>{{info.auditMemo}}</td><!--评定备注-->
                            <td>{{info.insertDate}}</td><!--时间戳-->
                            <td>{{info.editime}}</td><!--修改时间-->
                            <td>{{info.edidate}}</td><!--修改日期-->
                            <td></td><!--修改人-->
                            <td>{{info.cretime}}</td><!--创建时间-->
                            <td>{{info.credate}}</td><!--创建日期-->
                            <td></td><!--创建人-->
                            <td>{{info.iseffect}}</td><!--是否有效-->
                            <td>{{info.enbeworrecordid}}</td><!--从业资格证编号-->
                            <td>{{info.enbeworrecordimg1}}</td><!--从业资格证照片1-->
                            <td>{{info.enbeworrecordimg2}}</td><!--从业资格证照片2-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">

                        </div>
                        <div class="col-sm-4 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">常德交通信息服务平台</small>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                                <li ng-click="pageIndex(pageParam.pageNo)"><a href>{{pageParam.pageNo}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+1)"><a href>{{pageParam.pageNo+1}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+2)"><a href>{{pageParam.pageNo+2}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+3)"><a href>{{pageParam.pageNo+3}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+4)"><a href>{{pageParam.pageNo+4}}</a></li>
                                <li><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

</div>