<div class="wrapper-md" ng-controller="Hunan_information_serviceVehicleCtrl">

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    常德交通信息服务平台
                </div>
                <div class="row wrapper">
                    <div class="col-sm-5 m-b-xs">
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="输入车牌号" ng-model="pageParam.requestData">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" ng-click="searchData()">搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="overflow: auto">
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == ''">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[0]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_jtzrsgb">
                            <td></td><!--序号-->
                            <td></td><!--事故编号-->
                            <td></td><!--车辆编码-->
                            <td></td><!--车牌号码-->
                            <td></td><!--从业资格证号码-->
                            <td></td><!--驾驶员姓名-->
                            <td></td><!--事故日期-->
                            <td></td><!--事故时间-->
                            <td></td><!--事故地点-->
                            <td></td><!--死亡人数-->
                            <td></td><!--车牌颜色-->
                            <td></td><!--从业人员编号-->
                            <td></td><!--身份证号码-->
                            <td></td><!--事故原因-->
                            <td></td><!--事故情况-->
                            <td></td><!--记录人-->
                            <td></td><!--直接经济损失-->
                            <td></td><!--事故责任与性质-->
                            <td></td><!--修改日期-->
                            <td></td><!--修改时间-->
                            <td></td><!--审核状态-->
                            <td></td><!--审核意见-->
                            <td></td><!--从业资格证号-->
                            <td></td><!--人员扣分-->
                            <td></td><!--审核机构-->
                            <td></td><!--审核人-->
                            <td></td><!--审核时间-->
                            <td></td><!--信用信息来源-->
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'starred'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[1]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_clxykhb">
                            <td></td><!--序号-->
                            <td></td><!--考核年度-->
                            <td></td><!--业户-->
                            <td></td><!--考核等-->
                            <td></td><!--累计记分-->
                            <td></td><!--系统记分-->
                            <td></td><!--备注-->
                            <td></td><!--时间戳-->
                            <td></td><!--修改时间-->
                            <td></td><!--修改日期-->
                            <td></td><!--修改人-->
                            <td></td><!--创建时间-->
                            <td></td><!--创建日期-->
                            <td></td><!--创建人-->
                            <td></td><!--是否有效-->
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'sent'">
                        <thead>
                        <tr>
                            <th ng-repeat="info in data.tables[2]">{{info}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="info in sslyzgl_clzlzgb">
                            <td></td><!--序号-->
                            <td></td><!--整改号-->
                            <td></td><!--备注-->
                            <td></td><!--考核年度-->
                            <td></td><!--业户-->
                            <td></td><!--整改开始时间-->
                            <td></td><!--下发日期-->
                            <td></td><!--报告提交日期-->
                            <td></td><!--整改报告-->
                            <td></td><!--验收结果-->
                            <td></td><!--验收人员-->
                            <td></td><!--验收时间-->
                            <td></td><!--整改状态-->
                            <td></td><!--整改结束时间-->
                            <td></td><!--时间戳-->
                            <td></td><!--修改时间-->
                            <td></td><!--修改日期-->
                            <td></td><!--修改人-->
                            <td></td><!--创建时间-->
                            <td></td><!--创建日期-->
                            <td></td><!--创建人-->
                            <td></td><!--是否有效-->
                            <td></td><!--检查机构-->
                            <td></td><!--验收意见-->
                            <td></td><!--系统评分-->
                            <td></td><!--考核等级-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">

                        </div>
                        <div class="col-sm-4 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">常德交通信息服务平台</small>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                                <li ng-click="pageIndex(pageParam.pageNo)"><a href>{{pageParam.pageNo}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+1)"><a href>{{pageParam.pageNo+1}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+2)"><a href>{{pageParam.pageNo+2}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+3)"><a href>{{pageParam.pageNo+3}}</a></li>
                                <li ng-click="pageIndex(pageParam.pageNo+4)"><a href>{{pageParam.pageNo+4}}</a></li>
                                <li><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

</div>