<style>
  .leaflet-top {display: none;}
  .leaflet-right{display: none; }
  .column{width:220px;position: absolute;top:30px;left:0px;text-align: center;}
  .column p {line-height: 35px;height: 35px;background: #fff;border-bottom: solid 1px #e6e6e6;margin:0px;cursor:pointer}
  .infoRight{width:220px;border-radius: 5px;background: rgba(0,0,0,0.5);position: absolute;right:0;top:0;color:#fff}
  .colf{color:#fff}
  .infoRight .cont{width:95%;margin:10px auto;padding:10px;background: gray;}

  .infoRight .tip{background: #0e161b;height:30px;line-height:30px;margin:0px;padding-left:10px;};
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" >
  <div class="wrapper-md" ng-controller="KylwspCtrl">
    <p class="m-b-md"><strong>首页 / 省客运联网售票系统</strong></p>
    <div id="mapDiv" style="width:100%;height:600px"></div>
    <div>
      <div class="table-responsive" style="overflow: auto;background: #fff;margin-top:20px;">
        <table class="table table-bordered b-t b-light" style="white-space: nowrap">
          <thead>
          <tr>
            <th ng-repeat="info in param.tableTip">{{info}}</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td ng-repeat="info in param.tableTip"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 hidden-xs">

          </div>
          <div class="col-sm-4 text-center">

          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-none m-b-none">
              <li><a href><i class="fa fa-chevron-left"></i></a></li>
              <li><a href>1</a></li>
              <li><a href>2</a></li>
              <li><a href>3</a></li>
              <li><a href>4</a></li>
              <li><a href>5</a></li>
              <li><a href><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

  </div>

  </div>
</div>
