<style>
  .throughput p{margin:0px;}
</style>
<div ng-controller="ThroughputNextLevelListCtrl" >
  <div class="wrapper bg-light lter b-b throughput" >
    <div id="myTabContent" class="tab-content" >
      <div class="tab-pane fade in active" id="home">
        <div ng-if="fold==''">
          <div class="panel panel-default" >
            <div class="row wrapper">
              <div class="col-sm-3  font-bold">全市泊位状况（单位:万吨）</div>
              <div class="col-sm-3 m-b-xs">
                <div sel-date index="qsbwzk"></div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <span style="line-height: 30px;display: inline-block;margin-left:25px;">港口企业</span>
                  <input type="text" class="input-sm form-control" placeholder="Search" style="width:90px;margin-left:30px;float: right;" ng-model="qsbwzkDTO.gkqy">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <span style="line-height: 30px;display: inline-block">码头单位</span>
                  <input type="text" class="input-sm form-control" placeholder="Search" style="width:90px;float: right;margin-right:15px;" ng-model="qsbwzkDTO.mtdw">
                  <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button" ng-click="searchQsbwzkData()">搜索</button>
                </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div style="margin-left:30px;">
                  <div style="margin-top:30px;">
                    <p>累计港口泊位数</p>
                    <p style="font-size: 30px;">{{param.leftInfo.ljgkbws}}</p>
                    <p><span style="color:#ff6666">{{param.leftInfo.ljgkbwsRate}}</span>&nbsp;&nbsp; 同比上月</p>
                  </div>
                  <div style="margin-top:30px;">
                    <p>增加的报告期</p>
                    <p style="font-size: 30px;">{{param.leftInfo.zjdbgq}}</p>
                    <p><span style="color:#1e983b">{{param.leftInfo.zjdbgqRate}}</span>&nbsp;&nbsp; 同比上周</p>
                  </div>
                  <div style="margin-top:30px;">
                    <p>报废的报告期</p>
                    <p style="font-size: 30px;">{{param.leftInfo.bfdbgq}}</p>
                    <p><span style="color:#1e983b">{{param.leftInfo.bfdbgqRate}}</span>&nbsp;&nbsp; 同比上周</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="panel-body">
                  <div ui-jq="plot" ui-options="
                        [
                          { data: {{d}}, points: { show: true, radius: 6},splines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } }  }
                        ],
                        {
                          colors: ['{{app.color.info}}'],
                          series: { shadowSize: 3 },
                          xaxis:{
                            font: { color: '#ccc' },
                            position: 'bottom',
                            ticks: [
                              [ 1, '10-23周日' ], [ 2, '10-24周一' ], [ 3, '10-25周二' ], [ 4, '10-6周三' ], [ 5, '10-27周四' ], [ 6, '10-28周五' ], [ 7, '10-28周五' ]
                            ]
                          },
                          yaxis:{ font: { color: '#ccc' } },
                          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                          tooltip: true,
                          tooltipOpts: { content: '%x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
                        }
                      " style="height:320px" >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="overflow: auto">
            <table class="table table-bordered b-t b-light" style="white-space: nowrap">
              <thead>
              <tr>
                <th>序号</th>
                <th ng-repeat="info in tableTitle[0]">{{info}}</th>
              </tr>
              </thead>
              <tbody>
              <tr  ng-repeat="k in [0,1,2,3,4]">
                <td>1</td>
                <td ng-repeat="info in tableTitle[0]"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
              <div class="col-sm-4 hidden-xs">
              </div>
              <div class="col-sm-4 text-center">
              </div>
              <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                  <li><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                  <li ng-click="pageIndex(pageParam.pageNo)"><a href>{{pageParam.pageNo}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+1)"><a href>{{pageParam.pageNo+1}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+2)"><a href>{{pageParam.pageNo+2}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+3)"><a href>{{pageParam.pageNo+3}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+4)"><a href>{{pageParam.pageNo+4}}</a></li>
                  <li><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>

        <div ng-if="fold=='express'||fold=='a'">
          <div class="panel panel-default">
            <div class="row wrapper">
              <div class="col-sm-3 font-bold" ng-if="fold=='express'">港口快报吞吐量(单位:万吨)</div>
              <div class="col-sm-3 font-bold" ng-if="fold=='a'">港口吞吐量(单位:万吨)</div>
              <div class="col-sm-3 m-b-xs">
                 <div sel-date index="gktql"></div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <span style="line-height: 30px;display: inline-block;margin-left:25px;">港口企业</span>
                  <input type="text" class="input-sm form-control" placeholder="Search" style="width:90px;margin-left:30px;float: right;">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <span style="line-height: 30px;display: inline-block">码头单位</span>
                  <input type="text" class="input-sm form-control" placeholder="Search" style="width:90px;float: right;margin-right:15px;">
                  <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button">搜索</button>
                </span>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <div ui-jq="plot" ui-options="
              [
                { data: {{d0_1}}, label: '进港吞吐量', points: { show: true }, lines: { show: true, tension: 0.45, lineWidth: 2, fill: 0 } },
                { data: {{d0_2}}, label: '出港吞吐量', points: { show: true, radius: 4 },lines: { show: true, tension: 0.45, lineWidth: 2, fill: 0 }}
              ],
              {
              ticks: [
                    [ 1, '10:00' ], [ 2, '10:30' ], [ 3, '11:00' ], [ 4, '11:30' ], [ 5, '12:00' ], [ 6, '12:30' ], [ 7, '13:00' ]
                  ],
                colors: [ '{{app.color.info}}','{{app.color.warning}}' ],
                series: { shadowSize: 2 },
                xaxis:{ font: { color: '#ccc' } },
                yaxis:{ font: { color: '#ccc' } },
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
              }
            " style="height:240px"></div>
            </div>
          </div>
          <div class="table-responsive" style="overflow: auto">
            <table class="table table-bordered b-t b-light" style="white-space: nowrap">
              <thead>
              <tr>
                <th>序号</th>
                <th ng-repeat="info in tableTitle[1]">{{info}}</th>
              </tr>
              </thead>
              <tbody>
              <tr  ng-repeat="k in [0,1,2,3,4]">
                <td>1</td>
                <td ng-repeat="info in tableTitle[1]"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
              <div class="col-sm-4 hidden-xs">

              </div>
              <div class="col-sm-4 text-center">

              </div>
              <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                  <li><a href><i class="fa fa-chevron-left"></i></a></li>
                  <li><a href>1</a></li>
                  <li><a href>2</a></li>
                  <li><a href>3</a></li>
                  <li><a href>4</a></li>
                  <li><a href>5</a></li>
                  <li><a href><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>

      </div>
    </div>
  </div>
</div>
