<style>
  .throughput p{margin:0px;}
</style>
<div ng-controller="ThroughputNextLevelPortCtrl" >
  <div class="wrapper bg-light lter b-b throughput" >
    <div id="myTabContent" class="tab-content" >
      <div class="tab-pane fade in active" id="home">
        <div class="panel panel-default">
          <div class="panel-heading">
            常德交通信息服务平台
          </div>
          <div >
            <div class="panel panel-default">
            <div class="table-responsive" style="overflow: auto" >
              <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'starred'">
                <thead>
                <tr>
                  <th ng-repeat="info in tableTitle[0]">{{info}}</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="info in sslyzgl_gkqyml">
                  <td>{{info.unregisterReportPeriod}}</td><!--唯一标识号-->
                  <td>{{info.reportYear}}</td><!--报表年份-->
                  <td>{{info.enterpriseName}}</td><!--辖机构编码-->
                  <td>{{info.enterpriseJjkind}}</td><!--经济类型-->
                  <td>{{info.enterpriseTelephone}}</td><!--联系电话-->
                  <td>{{info.enterpriseReporter}}</td><!--报表填报人(联系人)-->
                  <td></td><!--创建报告期-->
                  <td></td><!--注销时的报告期-->
                  <td>{{info.enterpriseStatus}}</td><!--企业状态-->
                </tr>
                </tbody>
              </table>
              <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'important'">
                <thead>
                <tr>
                  <th ng-repeat="info in tableTitle[1]">{{info}}</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="info in sslyzgl_qsgqdbm">
                  <td>{{info.serialNo}}</td><!--序号-->
                  <td>{{info.portregionNo}}</td><!--全国统一港区编号-->
                  <td>{{info.portregionName}}</td><!--港区名称-->
                  <td>{{info.riverarea}}</td><!--所在水域-->
                  <td>{{info.riversystem}}</td><!--所在水系-->
                  <td>{{info.portregtionOwner}}</td><!--港区管理单位-->
                </tr>
                </tbody>
              </table>
              <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold == 'draft'">
                <thead>
                <tr>
                  <th ng-repeat="info in tableTitle[2]">{{info}}</th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="info in sslyzgl_qsgkb">
                  <td>{{info.serialNo}}</td><!--序号-->
                  <td>{{info.portNo}}</td><!--全国统一港口编号-->
                  <td>{{info.portName}}</td><!--港口名称-->
                  <td></td><!--港口归属机构编码-->
                  <td>{{info.periodkind}}</td><!--报告期类型-->
                  <td>{{info.portOwner}}</td><!--港口管理单位-->
                </tr>
                </tbody>
              </table>
            </div>
            <footer class="panel-footer">
              <div class="row">
                <div class="col-sm-4 hidden-xs">

                </div>
                <div class="col-sm-4 text-center">

                </div>
                <div class="col-sm-4 text-right text-center-xs">
                  <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                    <li ng-click="pageIndex(pageParam.pageNo)"><a href>{{pageParam.pageNo}}</a></li>
                    <li ng-click="pageIndex(pageParam.pageNo+1)"><a href>{{pageParam.pageNo+1}}</a></li>
                    <li ng-click="pageIndex(pageParam.pageNo+2)"><a href>{{pageParam.pageNo+2}}</a></li>
                    <li ng-click="pageIndex(pageParam.pageNo+3)"><a href>{{pageParam.pageNo+3}}</a></li>
                    <li ng-click="pageIndex(pageParam.pageNo+4)"><a href>{{pageParam.pageNo+4}}</a></li>
                    <li><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>