<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = true;">
    <div class="wrapper-md" ng-controller="ThroughputCtrl">
        <div>
            <div class="row">
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData"  ng-if="item.name=='全省泊位表'" ui-sref="app.throughputNextLevel.list({fold:''})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData" ng-if="item.name=='港口企业和码头单位名录'" ui-sref="app.throughputNextLevel.port({fold:'starred'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData"  ng-if="item.name=='企业操作人员'" ui-sref="app.throughputNextLevel.management({fold:'sent'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData"  ng-if="item.name=='全省港区代码表'" ui-sref="app.throughputNextLevel.port({fold:'important'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData" ng-if="item.name=='全省港口表'" ui-sref="app.throughputNextLevel.port({fold:'draft'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData"  ng-if="item.name=='港口快报吞吐量'" ui-sref="app.throughputNextLevel.list({fold:'express'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData"  ng-if="item.name=='港口吞吐量'" ui-sref="app.throughputNextLevel.list({fold:'a'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData" ng-if="item.name=='行业管理机构'" ui-sref="app.throughputNextLevel.management({fold:'b'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in mtdwttlHomeData"  ng-if="item.name=='行业管理人员'" ui-sref="app.throughputNextLevel.management({fold:'c'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>