<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="wrapper-md" ng-controller="UserListCtrl">
       <div style="margin:auto;width:95%;">
           <h2>成员列表</h2>
           <div ng-repeat="info in param.dataList">
               <P style=" background: #e6e6e6; height: 30px; margin: 0; padding: 0 10px;line-height: 30px;">{{info.firstetterL}}</P>
               <ul class="list-group" >
                   <li class="list-group-item" ng-repeat="item in info.userInfoList"  ui-sref="access.newUser({loginName:item.loginName})">
                       {{item.nickname}}
                   </li>
               </ul>
           </div>
       </div>

    </div>
</div>