
<div ng-controller="WaterwayYunZhengBusinessHouseholdsCtrl">

  <div class="wrapper bg-light lter b-b">
    <div id="myTabContent" class="tab-content" >
      <div class="tab-pane fade in active" id="home">
        <div class="panel panel-default">
          <div class="panel-heading">
            常德交通信息服务平台
          </div>
          <div class="row wrapper" ng-if="fold=='b'">
            <div class="col-sm-5 m-b-xs">

            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="输入企业编号" ng-model="pageParam.requestData">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button" ng-click="searchData()">搜索</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="overflow: auto">
            <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold=='a'">
              <thead>
              <tr>
                <th ng-repeat="info in tableTitle[0]">{{info}}</th>
              </tr>
              </thead>
              <tbody>
              <tr  ng-repeat="k in sslyzgl_ndsyyhjl">
                <td>{{k.serialNo}}</td>
                <td>{{k.yearcheckdate|date:'yyyy-MM-dd'}}</td>
                <td>{{k.yearcheckresult}}</td>
                <td>{{k.serialNo}}</td>
                <td>{{k.enterpriseno}}</td>
                <td>{{k.enterprisekind}}</td>
                <td>{{k.enterprisename}}</td>
                <td>{{k.lawman}}</td>
                <td>{{k.jjkind}}</td>
                <td>{{k.address}}</td>
                <td>{{k.telephone}}</td>
                <td>{{k.xkzno}}</td>
                <td>{{k.xkzprintdate|date:'yyyy-MM-dd'}}</td>
                <td>{{k.xkzenddate|date:'yyyy-MM-dd'}}</td>
                <td>{{k.runkinds}}</td>
                <td>{{k.runincome}}</td>
                <td>{{k.runcost}}</td>
                <td>{{k.yearchecknote}}</td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold=='b'">
              <thead>
              <tr>
                <th ng-repeat="info in tableTitle[1]">{{info}}</th>
              </tr>
              </thead>
              <tbody>
              <tr  ng-repeat="k in sslyzgl_zxtcyhjl">
                <td></td><!--共享ChangeNo-->
                <td></td><!--企业（含个体与服务业）编号-->
                <td></td><!--经营者类别-->
                <td></td><!--经营者名称-->
                <td></td><!--经营者地址-->
                <td></td><!--许可证编号-->
                <td></td><!--最近发证日期-->
                <td></td><!--经营范围分类-->
                <td></td><!--管理机构-->
                <td></td><!--注销原因-->
                <td></td><!--退出日期-->
                <td></td><!--简要说明-->
                <td></td><!--台账档案号-->
              </tr>
              </tbody>
            </table>

          </div>
          <footer class="panel-footer">
            <div class="row">
              <div class="col-sm-4 hidden-xs">

              </div>
              <div class="col-sm-4 text-center">

              </div>
              <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                  <li><a ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a></li>
                  <li ng-click="pageIndex(pageParam.pageNo)"><a href>{{pageParam.pageNo}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+1)"><a href>{{pageParam.pageNo+1}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+2)"><a href>{{pageParam.pageNo+2}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+3)"><a href>{{pageParam.pageNo+3}}</a></li>
                  <li ng-click="pageIndex(pageParam.pageNo+4)"><a href>{{pageParam.pageNo+4}}</a></li>
                  <li><a ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

  </div>
</div>