<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = true;">
    <div class="wrapper-md" ng-controller="Waterway_administrationCtrl">
        <div>
            <div class="row">
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='行政区划'" ui-sref="app.waterwayYunZheng.list({fold:''})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData" ng-if="item.name=='管理机构'" ui-sref="app.waterwayYunZheng.list({fold:'starred'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='许可申请记录'" ui-sref="app.waterwayYunZheng.list({fold:'sent'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='水路运输业户台帐'" ui-sref="app.waterwayYunZheng.waterway({fold:'important'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData" ng-if="item.name=='水路运输企业人员'" ui-sref="app.waterwayYunZheng.waterway({fold:'draft'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='运输辅助企业台帐'" ui-sref="app.waterwayYunZheng.auxiliary({fold:'trash'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='运输辅助企业人员'" ui-sref="app.waterwayYunZheng.auxiliary({fold:'y'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData" ng-if="item.name=='年度审验业户记录'" ui-sref="app.waterwayYunZheng.auxiliary({fold:'a'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='注销退出业户记录'" ui-sref="app.waterwayYunZheng.auxiliary({fold:'b'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='企业违章记录'" ui-sref="app.waterwayYunZheng.other({fold:'c'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData" ng-if="item.name=='营运船舶信息'" ui-sref="app.waterwayYunZheng.ship({fold:'d'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='船舶类型代码'" ui-sref="app.waterwayYunZheng.ship({fold:'e'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='年度审验船舶记录'" ui-sref="app.waterwayYunZheng.ship1({fold:'z'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData" ng-if="item.name=='变更船舶记录'" ui-sref="app.waterwayYunZheng.ship1({fold:'f'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='船舶违章记录'" ui-sref="app.waterwayYunZheng.ship1({fold:'g'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:30px;">
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='业户与船舶年审报数据'" ui-sref="app.waterwayYunZheng.ship1({fold:'h'})" >
                    <div style="border: 1px gray dashed;height:220px;" class="text-center active">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData" ng-if="item.name=='运输船舶名录'" ui-sref="app.waterwayYunZheng.ship({fold:'i'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
                <a class="col-lg-4 " ng-repeat="item in sslyzglHomeData"  ng-if="item.name=='运政管理人员名录'" ui-sref="app.waterwayYunZheng.other({fold:'j'})">
                    <div style="border: 1px gray dashed;height:220px;" class="text-center">
                        <h3 style="margin-top:70px;">{{item.name}}</h3>
                        <p style="margin-top:30px;"><span>{{item.secondName}}：{{item.secondValue}}个</span><span style="margin-left:50px;" ng-if="item.thirdName!=undefined">{{item.thirdName}}：{{item.thirdValue}}个</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>