
<div ng-controller="WaterwayYunZhengOtherCtrl">

  <div class="wrapper bg-light lter b-b">
    <div id="myTabContent" class="tab-content" >
      <div class="tab-pane fade in active" id="home">
        <div class="panel panel-default">
          <div class="panel-heading">
            常德交通信息服务平台
          </div>
          <div class="row wrapper">
            <div class="col-sm-5 m-b-xs">

            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="输入水运或服务企业编号" ng-if="fold=='c'">
                <input type="text" class="input-sm form-control" placeholder="输入人员姓名" ng-if="fold=='j'">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button">搜索</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive" style="overflow: auto">
            <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold=='c'">
              <thead>
              <tr>
                <th>序号</th>
                <th ng-repeat="info in tableTitle[0]">{{info}}</th>
              </tr>
              </thead>
              <tbody>
              <tr  ng-repeat="k in [0,1,2,3,4]">
                <td>1</td>
                <td ng-repeat="info in tableTitle[0]"></td>
              </tr>
              </tbody>
            </table>
            <table class="table table-bordered b-t b-light" style="white-space: nowrap" ng-if="fold=='j'">
              <thead>
              <tr>
                <th ng-repeat="info in tableTitle[1]">{{info}}</th>
              </tr>
              </thead>
              <tbody>
              <tr  ng-repeat="k in [0,1,2,3,4]">
                <td>1</td>
                <td ng-repeat="info in tableTitle[1]"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
              <div class="col-sm-4 hidden-xs">

              </div>
              <div class="col-sm-4 text-center">

              </div>
              <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                  <li><a href><i class="fa fa-chevron-left"></i></a></li>
                  <li><a href>1</a></li>
                  <li><a href>2</a></li>
                  <li><a href>3</a></li>
                  <li><a href>4</a></li>
                  <li><a href>5</a></li>
                  <li><a href><i class="fa fa-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

  </div>
</div>