<ion-view class="aboutOur">
    <ion-content>
        <div class="ao">
            <div class="myLogo">
                <img src="https://mx-beauty.oss-cn-beijing.aliyuncs.com/%E5%A4%B4%E5%83%8F.png">
            </div>
            <div class="myName">
                好夫子课堂
            </div>
            <div class="myMotto">
                即为学生的夫子，也做老师的夫子。
            </div>
            <div class="myContent">
                <dl>
                    <dd>
                        <span>1、</span>
                        连接老师、家长、学生，追求好、很好、更好，既简单但又需要细心耕耘的目标，是本产品的核心诉求。                    </dd>
                    <dd>
                        <span>2、</span>
                        身为教师，一面在学问至上，一面在德育远扬。
                    </dd>
                    <dd>
                        <span>3、</span>
                        教育，不在攀比，不在应试。优秀的宝贝，也不局限课堂。引导宝贝按照Ta自己的活法去成长，这是我们的执念。
                    </dd>
                    <dd>
                        <span>4、</span>
                        帮助家长把宝贝儿学习监督好，帮助老师把课教好。
                    </dd>
                </dl>
            </div>
        </div>
        <a class="item margin-top10" ng-click="goAgreement()">
            <span class="font-size16 color060d25">用户协议</span>
            <i class="ion ion-ios-arrow-forward item-note margin-top2"></i>
        </a>
    </ion-content>
</ion-view>