<ion-view class="accountSafety">
    <ion-content>
        <a class="item" ng-click="showPhonePopup()">
            <span class="font-size16 color060d25">已绑定手机号码</span>
            <i class="ion ion-ios-arrow-forward item-note margin-top2"></i>
            <span class="item-note font-size14 color9b9b margin-right8">1212121211</span>
        </a>
        <a class="item" ng-click="showPwdPopup()">
            <span class="font-size16 color060d25">修改登录密码</span>
            <i class="ion ion-ios-arrow-forward item-note margin-top2"></i>
        </a>
    </ion-content>
</ion-view>