<ion-view class="courseDetail">
    <ion-content>
        <div class="cd-up">
            <a class="cd-u-title">语文</a>
            <a class="cd-u-content">
                <p>教室<span>高一二班教室</span></p>
                <p>周数<span>11周</span></p>
                <p>节数<span>周三 第四节</span></p>
                <p>老师<span>付元发</span></p>
            </a>
        </div>
        <div class="cd-down">
            <div class="cd-d-title">
                <img src="images/courseTask-icon.png"/>
                <span>课程任务</span>
            </div>
            <div class="cd-d-content">
                <div class="cd-d-c-title">
                    <span>预习《背影》</span>
                    <span>04月03日</span>
                </div>
                <div class="cd-d-c-content">
                    需要背诵1-3段内容，上传视频。
                </div>
                <div class="cd-d-c-file">
                    <img src="images/file-icon.png">
                    <span>附件（2）</span>
                    <div></div>
                </div>
                <div class="cd-d-c-time">
                    <img src="images/time-icon.png"/>
                    <span>截止：04月04日20：00</span>
                </div>
                <div class="cd-d-c-button">
                    <span ng-click="commitMission()">提交任务</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>