<style>
    .tabs-has-message{
        margin-top:-50px;height:80px;background:white
    }
    .tabs-no-message{
        background:white;height:80px;
    }
</style>
<ion-view class="com-color-bg">
    <div class="bar bar-header bar-calm" ng-if="!noLoginFlag">
        <h1 style="font-size:13px;color:white;margin-top:9px"><i class="ion ion-android-volume-up"></i>&nbsp&nbsp班主任审批了我的请假</h1>
        <h1 class="title">
        </h1>
        <button class="button button-calm" style="border-color:white;border-radius:15px;height:0px" ng-click="goVacationDetail()">去看看</button>
    </div>
    <div class="bar bar-header bar-calm" ng-if="noLoginFlag">
        <h1 style="font-size:13px;color:white;margin-top:9px"><i class="ion ion-android-volume-up"></i>&nbsp&nbsp育湖为何深得老师和家长的好评</h1>
        <h1 class="title">
        </h1>
        <button class="button button-calm" style="border-color:white;border-radius:15px;height:0px" ng-click="goSchoolNews()">去看看</button>
    </div>
    <div class="tabs has-tabs-top" ng-class="{'tabs-has-message':true}">
        <a class="tab-item" ng-click="goStudentCourseTable()">
            <center>
                <image src="images/courseTable.png" style="width:35%;margin-top:10px"></image>
            </center>
            <center>
                <span style="position: absolute;margin-left: -20px;margin-top:-10px;">课程表</span>
            </center>
        </a>
        <a class="tab-item" ng-click="goSchoolNews()">
            <center>
                <image src="images/yuhunews.png" style="width:35%;margin-top:10px"></image>
            </center>
            <center>
                <span style="position: absolute;margin-left: -26px;margin-top:-10px;">育湖见闻</span>
            </center>
        </a>
        <a class="tab-item" ng-click="goSchoolMasterMail()">
            <center>
                <image src="images/masterEmail.png" style="width:35%;margin-top:10px"></image>
            </center>
            <center>
                <span style="position: absolute;margin-left: -26px;margin-top:-10px;">校长信箱</span>
            </center>
        </a>
        <a class="tab-item" ng-click="moreInfo()">
            <center>
                <image src="images/moreFun.png" style="width:35%;margin-top:10px"></image>
            </center>
            <center>
                <span style="position: absolute;margin-left:-13px;margin-top:-10px;">更多</span>
            </center>
        </a>
    </div>
    <ion-content style="margin-top:130px">
        <div class="list" style="color:black" ng-if="!noLoginFlag">
            <a class="item item-icon-left">
                <i class="icon ion-ios-paper-outline" style="font-size:20px"></i>
                <span style="font-size:15px;margin-left:-10px">记得备课</span>
                <i class="ion ion-ios-arrow-forward item-note" style="margin-top:2px" ng-click="goCourseTable()"></i>
                <span class="item-note" style="color: blue" ng-click="goCourseTable()">前往课表&nbsp;&nbsp;</span>
            </a>
            <a class="item" ng-repeat="item in courseList">
                <div ng-click="goCourseMission()">
                    <img class="item-note" src="images/mission.png" style="height:25px">
                    <span style="color:lightgrey">{{$index+1}}&nbsp;&nbsp;</span>
                    <span style="font-weight:bold">语文</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:lightgrey;font-size:12px">|&nbsp;&nbsp;庐丹丹&nbsp;&nbsp;高二3班教室</span>
                </div>
            </a>
            <a class="item" ng-click="showMoreCourse()" ng-if="showMoreCourseFlag">
                <center><span style="font-size:80%;color:blue">展开全部6节课</span></center>
            </a>
        </div>
        <div class="list" style="margin-top: -10px" ng-if="!noLoginFlag">
            <a class="item item-icon-left">
                <i style="color:black;font-size:20px" class="icon ion-ios-heart-outline"></i>
                <span style="font-size:15px;color:black;margin-left:-10px">德育量化分数&nbsp;&nbsp;96分</span>
                <i class="ion ion-ios-arrow-forward item-note" style="margin-top:2px"></i>
                <span class="item-note" style="color: blue">更多&nbsp;&nbsp;</span>
            </a>
            <div style="background:white">
                <!-- start 轮播图-->
                <ion-slide-box auto-play="true" does-continue="true" slide-interval=50000 style="margin-top:-15px">
                    <ion-slide ng-repeat="item in [1,2,3,4]">
                        <div class="box banner">
                            <div class="card">
                                <a class="item" style="color: black">
                                    <span style="font-size:15px;font-weight:bold">团队活动</span>
                                    <span class="item-note" style="font-weight:bold;color:black">&nbsp;&nbsp;+2</span>
                                    <i class="ion ion-arrow-up-a item-note" style="margin-top:2px"></i>
                                </a>
                                <a class="item" style="background:url(images/bgpop.png)">
                                    <span style="color:black;word-break:normal;width:auto;display:block;
                                                    white-space:pre-wrap;word-wrap: break-word;overflow: hidden;font-size: 15px;color:grey">团队活动表现突出，团队活动表现突出，团队活动表现突出，团队活动表现突出，团队活动表现突出，团队活动表现突出....</span>
                                </a>
                                <a class="item">
                                    <span style="color:grey;font-size:10px">33分钟前&nbsp;&nbsp;吴主任</span>
                                </a>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <!-- end 轮播图-->
            </div>
        </div>
        <div class="list" style="color:black;margin-top: -10px">
            <a class="item item-icon-left">
                <i class="icon ion-social-designernews" style="font-size:15px"></i>
                <span style="font-size:15px;margin-left:-10px">育湖精选</span>
            </a>
            <a class="item" ng-click="goNewsDetail()">
                <span class="com-style-more-show">满分作文《写给2035年的你》</span>
            </a>
            <a class="item">
                <span style="color:grey;font-size:10px">1分钟前</span>
            </a>
        </div>
        <center><span style="color:blue">+&nbsp;&nbsp;绑定手机号，不怕丢数据</span></center>
        <br ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12]">
    </ion-content>
    <div class="tabs tabs-icon-top tabs-background-positive tabs-color-calm">
        <a class="tab-item active">
            <i class="icon ion-home"></i>
            首页
        </a>
        <a class="tab-item" ng-click="goStudentMessage()">
            <i class="icon ion-chatbubbles"></i>
            消息
        </a>
        <a class="tab-item" ng-click="goStudentCenter()">
            <i class="icon ion-android-person"></i>
            我的
        </a>
    </div>
</ion-view>