<ion-view class="educationMoreInfo">
    <div class="emi-title">
        选择更多
    </div>
    <div class="emi">
        <div class="emi-item" ng-click="educationVacation()">
            <div class="emi-i-icon">
                <img src="images/qingjia.png"/>
            </div>
            <div class="emi-i-text">请假</div>
        </div>
        <div class="emi-item" ng-click="studentChooseCourse()">
            <div class="emi-i-icon">
                <img src="images/xuanke.png"/>
            </div>
            <div class="emi-i-text">选课</div>
        </div>
    </div>
</ion-view>