<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list">
            <a class="item" style="height:150px"></a>
        </div>
        <div class="list" style="color:black">
            <div class="row">
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
                <div class="col" style="text-align:center">
                    <i class="ion ion-ios-circle-outline" style="font-size: 100px"></i>
                    <br>
                    奖励名称
                </div>
            </div>
        </div>
        <br><br><br><br>
    </ion-content>
</ion-view>