<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list card" style="color:black">
            <a class="item">
                <span class="item-note">
                    <span>剩余名额</span>
                    <span>32</span>
                    <span>名</span>
                </span>
                <span style="font-weight:bold">语文</span>
            </a>
            <a class="item">
                <div class="row" style="text-align: center">
                    <div class="col">
                        <span>20</span>
                        <br>
                        <span>课时</span>
                    </div>
                    <div class="col">
                        <span>2</span>
                        <br>
                        <span>学分</span>
                    </div>
                    <div class="col">
                        <span>李洪磊</span>
                        <br>
                        <span>教师</span>
                    </div>
                </div>
            </a>
            <a class="item" style="word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden">以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，
            </a>
            <button class="item-note button button-small button-calm"
                    style="margin-top:15px;margin-right:15px;width:100px;border-radius:20px;margin-bottom:10px">选择取消</button>
        </div>
        <div class="list card" style="color:black">
            <a class="item">
                <span class="item-note">
                    <span>剩余名额</span>
                    <span>12</span>
                    <span>名</span>
                </span>
                <span style="font-weight:bold">语文</span>
            </a>
            <a class="item">
                <div class="row" style="text-align: center">
                    <div class="col">
                        <span>20</span>
                        <br>
                        <span>课时</span>
                    </div>
                    <div class="col">
                        <span>2</span>
                        <br>
                        <span>学分</span>
                    </div>
                    <div class="col">
                        <span>李洪磊</span>
                        <br>
                        <span>教师</span>
                    </div>
                </div>
            </a>
            <a class="item" style="word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden">以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，以下是课程介绍，
            </a>
            <button class="item-note button button-small button-calm"
                    style="margin-top:15px;margin-right:15px;width:100px;border-radius:20px;margin-bottom:10px">取消选择</button>
        </div>
        <a class="item">
            <center>
                <button class="button button-small button-positive" style="width:80%;border-radius:20px" ng-click="goStudentChooseCourse()">完成</button>
            </center>
        </a>
    </ion-content>
</ion-view>