<ion-view style="background: #f2f5f9">
    <ion-content>
      <div class="list" style="margin-top: 0.3rem">
          <p class="item" ><span style="color:#666666;font-size:0.3rem;float: left;margin-left: 0.2rem">联系电话</span> <span style="float: right;margin-right: 0.2rem;color: #333333;font-size: 0.3rem">15810159447</span></p>
          <p class="item" ><span style="color:#666666;font-size:0.3rem;float: left;margin-left: 0.2rem">工作时间</span> <span style="float: left;margin-left: 0.7rem;color: #333333;font-size: 0.3rem">工作日周一到周五，&nbsp;&nbsp;&nbsp;(9点~18点)</span></p>
      </div>
        <div class="list" style="margin-top: 0.2rem">
            <p class="item"><span style="font-size: 0.3rem;color:#666666" ui-sref="concealmentStrategy()">隐藏策略</span><i style="float:right" class="ion ion-ios-arrow-right"></i></p>
            <p class="item"><span style="font-size: 0.3rem;color:#666666" ui-sref="serviceAgreement()">美享99服务协议</span><i style="float:right" class="ion ion-ios-arrow-right"></i></p>
            <p class="item"><span style="font-size: 0.3rem;color:#666666" ui-sref="explanation()">反侵权说明</span><i style="float:right" class="ion ion-ios-arrow-right"></i></p>
        </div>
    </ion-content>
</ion-view>