<ion-view style="background: #f2f5f9">
    <style>
        .item{border-bottom-color:#e5e5e5}
    </style>
    <ion-content>
        <div class="list">
            <a class="item item-body" style="background:#fD685D;height:4rem;">
                <p class="item-note" style="color:#FFFFFF;font-size: 16px;" ng-click="goTransactionList()">
                    余额收支明细
                    <i class="ion ion-ios-arrow-right" style="margin-left: 0.1rem"></i>
                </p>
                <br>
                <p class="item" style="background:transparent;border-color:transparent;
                                          color:#FFFFFF;font-size:16px;text-align:center;margin-left:0.2rem;">
                    余额（元）
                </p>
                <span></span>
                <p class="item" style="background:transparent;border-color:transparent;
                                          color:#FFFFFF;font-size:20px;text-align:center;margin-top:-0.6rem;">
                    {{param.accountInfo.balance}}
                </p>
            </a>
        </div>
        <div class="tabs" style="background:#fD685D;top:4rem;height:1.5rem;text-align: center;line-height: 1.5rem">
            <a class="tab-item" style="color:#FFFFFF;border-right: 1px solid #e5e5e5">
                <span style="font-size: 12px;">可提现</span>
                <span style="margin-top:-0.5rem;font-size:14px">{{param.presented}}</span>
            </a>
            <a class="tab-item" style="color:#FFFFFF;">
                <span style="font-size: 12px;">不可提现</span>
                <span style="margin-top:-0.5rem;font-size: 14px">{{param.accountInfo.balanceDeny}}</span>
            </a>
            <!--<a class="tab-item" style="color:#FFFFFF;font-size: 0.22rem">-->
            <!--<p>真正审核</p>-->
            <!--<p style="margin-top:-0.5rem;font-size: 0.28rem";>300.00</p>-->
            <!--</a>-->
        </div>
        <center>
            <button class="button button-block button-positive"
                    style="margin-top:2rem;width: 6.9rem;height:0.88rem;background-color:#ff4a59;font-size:0.34rem;border-radius: 0.46rem" ui-sref="withDraw">
                申请提现
            </button>
        </center>
    </ion-content>
</ion-view>