<ion-view style="background: #f2f5f9">
    <style type="text/css">
        .fontP{font-size: 0.28rem;color:#333333;line-height: 20px;margin-top: 0.1rem}
    </style>
    <ion-content>
        <div class="list">
            <p class="item" style="font-size: 0.3rem;color: #333333">发票类型</p>
            <p class="item" ><span style="font-size: 0.3rem;color: #ff4a59;border: 1px solid #ff4a59;border-radius:0.46rem;width: 1.62rem;height: 0.52rem;display: inline-block;text-align: center;line-height: 0.52rem">纸质发票</span></p>
        </div>
        <div class="list" style="margin-top: 0.2rem;color: #333333">
            <p class="item" style="font-size: 0.3rem;color: #333333">发票信息</p>
            <p class="item"><input type="radio"  checked="checked" name="names" ng-click="personal()" value="0"><span style="margin-left: 0.2rem;font-size: 0.3rem;color: #333333">个人</span></p>
            <p class="item"><input type="radio" name="names" ng-click="company()" value="1"><span style="margin-left: 0.2rem;font-size: 0.3rem;color: #333333">公司</span></p>
        </div>
        <div class="list" ng-show="companys">
            <label class="item item-input">
                <span class="input-label" style="color: #333333;font-size: 0.3rem">公司名称</span>
                <input type="text" placeholder="请输入收货人的姓名"  ng-model="param.companyName">
            </label>
            <label class="item item-input">
                <span class="input-label" style="color: #333333;font-size: 0.3rem">纳税人识编号</span>
                <input type="text" placeholder="请输入纳税人编号"  ng-model="param.taxpayerNumber">
            </label>
        </div>
        <div style="margin-top: 0.3rem;margin-left: 0.2rem">
            <p style="color: #999999;font-size: 0.27rem;color: grey" ng-click="showNote()" >发票须知</p>
        </div>
        <div ng-show="facePanel" style="color: #333333;position: absolute;z-index: 1001;width:80%;background: white;top: 0.8rem;left:0.8rem;border: 1px solid #FFFFFF;padding: 0.3rem;border-radius: 0.16rem">
            <p style="font-size: 0.34rem;color: #333333;text-align: center">发票须知</p>
            <span>发票说明：</span>
            <p class="fontP">&nbsp;&nbsp;&nbsp;&nbsp;一、为了保障消费者的合法权益，我司均为您开具由税务局监制印制的正规机打销售发票</p>
            <p class="fontP">&nbsp;&nbsp;&nbsp;&nbsp;二、发票是有效交易的重要凭据，纸质发票可作为单位报销的凭证，请妥善保管。</p>
            <p class="fontP">&nbsp;&nbsp;&nbsp;&nbsp;三、发票金额为您购买商品实际的付款金额，使用积分等方式支付的部分不在发票金额中体现。</p>
            <p class="fontP">&nbsp;&nbsp;&nbsp;&nbsp;四、发票内容默认为“商品明细”，同时不支持修改发票内容，给您带来不便请您谅解。</p>
           <span style="margin-top: 0.2rem;display: inline-block">普通发票：</span>
            <p class="fontP">&nbsp;&nbsp;&nbsp;&nbsp;个人及不具有一般纳税人资格的企业客户，均开具普通发票，请在会员服务页面，在“发我的订单—付款信息”，选择“需要普通发票”，按提示填写公司名称等信息，发票将会采用快递方式送达，
                发票信息与您输入的信息一致的情况下，发票一经开出，恕不退换。</p>
            <p class="fontP">&nbsp;&nbsp;&nbsp;&nbsp;增值税发票暂缓开通，给您带来的不便，敬请谅解。</p>
            <p ng-click="know()" style="text-align: center;color: #ff4a59;font-size: 0.34rem;margin-top: 0.1rem">我知道啦</p>
        </div>
        <center>
            <button style="width:6.9rem;height:0.88rem;border-radius:0.46rem;color: #FFFFFF; background: #ff4a59;margin-top: 1rem;font-size: 0.34rem" class="button " ng-click="sureInvoice()">确认</button>
        </center>
    </ion-content>
</ion-view>