<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list">
            <a class="item item-body" style="background:white;">
                <p class="item card" id="card" style="background:#fD685D;height:3.5rem;border-radius:10px;text-align: center;color: white;margin-top: 0.4rem;box-shadow: 0px 16px 24px 0px rgba(254, 84, 126, 0.18)">
                    <span ng-click="goSelfAccount()" style="width:200px;height: 120px;display: inline-block">
                    <br>
                    <span style="font-size: 13px;">总资产（元)</span>
                    <br><br>
                    <span ng-if="param.userLogin"   style="font-size: 18px" >{{param.accountInfo.balance}}</span>
                    <br>
                    <span ng-if="param.userLogin"  style="margin-top: 0.2rem;display: inline-block">昨日收益：{{param.accountInfo.todayIncome}}</span>
                    </span>
                    <button class="button" style="border-radius:20px;background: #FF9492;color: #FFFFFF;font-size: 13px;margin-top: -60px;"
                            ng-if="!param.userLogin" ng-click="myselfLogin()">登录查看您的收益</button>
                <div class="row" style="margin-top:-1.3rem;z-index: 2;position: absolute;font-size: 0.3rem;width: 7rem;height: 2rem;color: #FFFFFF;">
                    <div class="col col-50" style="text-align: center;/*border: solid 1px;*/padding-top: 0.2rem;">
                        我的享豆
                    </div>
                    <div class="col col-50" style="text-align: center;/*border: solid 1px;*/padding-top: 0.2rem">
                        待结算管理
                    </div>
                </div>
                </p>
                <div class="row" style="color:#999;margin-top: 0.3rem;">
                    <div class="col col-50" style="text-align:left;font-size: 0.3rem;color: #333333;z-index: 1001">
                        我的订单
                    </div>
                    <div class="col col-50" style="text-align: right;font-size: 0.28rem;color: #666666; z-index: 2;" ng-click="goOrderManagement('all')">
                        <span style="font-size: 0.28rem;color: #666666;">查看更多订单<i class="ion ion-ios-arrow-right" style="margin-left: 0.2rem;font-size: 0.3rem"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list" style="background:white;margin-top:-0.5rem;height:1.8rem">
            <div class="row" style="color:#666666">
                <div class="col col-25" style="text-align:center;" ng-click="goOrderManagement('0')">
                    <div style="width:0.3rem;height:0.3rem;background-color:#F00;
                              border-radius:25px;position:absolute;margin-left: 1.05rem;
                              margin-top:0.1rem" class="smallBox"  ng-if="param.accountInfo.stautsCountList[0]>0?true:false">
                        <span style="height:0.3rem; line-height:0.3rem; display:block; color:#FFF; text-align:center;font-size: 10px;">{{param.accountInfo.stautsCountList[0]}}</span>
                    </div>
                    <img src="images/myselfCenter/bt-penging.png" style="font-size: 0.6rem;height: 0.6rem;margin-left: 0.5rem;margin-bottom: 0.2rem;margin-top: 0.2rem">
                    <p>待付款</p>
                </div>
                <div class="col col-25" style="text-align: center;" ng-click="goOrderManagement('1')">
                    <div style="width:0.3rem;height:0.3rem;background-color:#F00;
                              border-radius:25px;position:absolute;margin-left: 1.1rem;
                              margin-top:0.1rem" class="smallBox" ng-if="param.accountInfo.stautsCountList[1]>0?true:false">
                        <span style="height:0.3rem; line-height:0.3rem; display:block; color:#FFF; text-align:center;font-size: 10px;" >{{param.accountInfo.stautsCountList[1]}}</span>
                    </div>
                    <img src="images/myselfCenter/bt-received.png" style="font-size: 0.6rem;height: 0.6rem;margin-left: 0.5rem;margin-bottom: 0.2rem;margin-top: 0.2rem">
                    <p>待发货</p>
                </div>
                <div class="col col-25" style="text-align: center;" ng-click="goOrderManagement('4')">
                    <div style="width:0.3rem;height:0.3rem;background-color:#F00;
                              border-radius:25px;position:absolute;margin-left: 1.1rem;
                              margin-top:0.1rem" class="smallBox" ng-if="param.accountInfo.stautsCountList[2]>0?true:false">
                        <span style="height:0.3rem; line-height:0.3rem; display:block; color:#FFF; text-align:center;font-size: 10px;" >{{param.accountInfo.stautsCountList[2]}}</span>
                    </div>
                    <img src="images/myselfCenter/bt-delivered.png" style="font-size: 0.6rem;height: 0.6rem;margin-left: 0.5rem;margin-bottom: 0.2rem;margin-top: 0.2rem">
                    <p>待收货</p>
                </div>
                <div class="col col-25" style="text-align: center;" ng-click="goOrderManagement('2')">
                    <img src="images/myselfCenter/bt-completed.png" style="font-size: 0.6rem;height: 0.6rem;margin-left: 0.5rem;margin-bottom: 0.2rem;margin-top: 0.2rem">
                    <p>已完成</p>
                </div>
            </div>
        </div>
        <div class="list" style="color: #333333">
            <a class="item" style="font-size:0.3rem" ng-click="goShare()">分享赚钱<i style="float:right;font-size: 0.3rem" class="ion ion-ios-arrow-right"></i></a>
            <a class="item" style="font-size:0.3rem" ng-click="goMyselfSetting()">个人设置<i style="float:right;font-size: 0.3rem" class="ion ion-ios-arrow-right"></i></a>
            <a class="item"   style="font-size:0.3rem!important"; href="tel:18611010799">售后服务<span style="float:right;font-size: 0.3rem;color: #333333">18611010799</span></a>
            <a class="item" style="font-size:0.3rem" ng-click="goSuggestion()">建议反馈<i style="float:right;font-size: 0.3rem" class="ion ion-ios-arrow-right"></i></a>
            <a class="item" style="font-size:0.3rem" ng-click="goAboutUs()">关于我们<i style="float:right;font-size: 0.3rem" class="ion ion-ios-arrow-right"></i></a>
        </div>
    </ion-content>
</ion-view>