<ion-view style="background: #f2f5f9">
    <ion-content >
         <!--轮播图部分-->
         <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 show-pager="false">
             <ion-slide ng-repeat="item in param.product.productDetail.listPic">
                 <div class="box" style="height:7.32rem;width: 7.5rem;">
                     <img ng-src="{{item}}" style="height:7.32rem;width: 7.5rem;"/>
                     <div style="position: absolute;bottom: 20px;right: 20px;font-size: 0.34rem;color: #999999"><span >{{param.currentIndex}}</span>/<span >{{param.totalIndex}}</span></div>
                 </div>
             </ion-slide>
         </ion-slide-box>
            <div class="item item-body" >
                <p style="margin-top: -0.02rem;">
                    <span class="subdued" style="color:#ff4a59;font-size:0.36rem;float: left;font-weight: bold; ">￥{{param.product.price}}</span>
                    <span style="width: 0.66rem;height: 0.33rem; margin-left: 0.2rem;color: #ff4a59;border: 1px solid #ff4a59;display: inline-block;text-align: center;line-height: 0.33rem;font-size: 10px;border-radius: 16px">{{param.product.productDetail.tag[0]}}</span>
                </p>
                <h1 style="font-size:0.32rem;color: #333333;font-weight: bold">{{param.product.productName}}</h1>
                    <span style="font-size: 16px">{{param.product.description}}</span>
                </p>
            </div>
            <div class="list" style="margin-top: 0.3rem;margin-left: -23px" ng-click="viewInstructions()">
                <a style="color:#666666" class="item item-icon-right">
                    <i class="icon ion-chevron-right" style="font-size:0.3rem"></i>
                    <span style="font-size:0.24rem">{{param.product.productDetail.sendAddress}}</span>
                     <span ng-repeat="item in param.product.productDetail.services"
                          style="margin-left:0.2rem;font-size:0.24rem"><img src="images/success.png" style="width: 20px;height: 20px;display: inline-block;margin-left: 10px;margin-right: 10px">
                    {{item}}
                </span>
                </a>
            </div>

            <div class="list" style="margin-top: -0.15rem" ng-click="chooseSpec($event)" ng-if="param.product.productDetail.spec!=undefined" >
                <a style="color:black" class="item item-icon-right">
                    <i class="icon ion-chevron-right"style="font-size:0.3rem;color: #333333"></i>
                    请选择  型号 <span style="margin-left: 0.5rem">{{param.productSpec}}</span>
                </a>
            </div>
            <div class="list">
                <label class="item item-stacked-label" style="border-color:transparent;position: relative">
                    <div style="position:absolute;">
                        <img src="images/xian.png">
                        <span style="position:absolute;width:100%;height:100%;left:0;top:0;display:flex;justify-content:center;align-items: center;">商品详情</span>
                    </div>
                </label>
            </div>
            <img ng-repeat="item in param.product.productDetail.detailPic"
                 ng-src="{{item}}"
                 style="width:100%;"><br><br><br>
    </ion-content>
    <div class="tabs " style="padding-top: 0px">
        <a class="tab-item" ui-sref="buyCart" >
            <div style="width:0.3rem;height:0.3rem;background-color:#F00;
                              border-radius:25px;position:absolute;margin-left: 1.4rem;
                              margin-top:0.1rem" >
                <span style="height:0.3rem; line-height:0.3rem; display:block; color:#FFF; text-align:center;font-size: 10px;">{{param.productUnPaidNum}}</span>
            </div>
                <img src="images/offlineProductDetail/cart.png" alt="" style="width: 0.45rem;height: 0.46rem;text-align: center;margin: auto;margin-top: 0.1rem;">
                <p style="font-size:0.22rem;color:#666666;margin-top: -0.3rem">购物车</p>
            </i>
        </a>
        <a class="tab-item" style="background:#fca1a8;color:white;font-size:0.36rem;" ng-click="addBuyCart()">
            加入购物车
        </a>
        <a class="tab-item" style="background: red;color:white;font-size:0.36rem" ng-click="goPay()">
            立即购买
        </a>
    </div>
    <!--点击显示服务说明的-->
    <div class="explain" ng-show="explain" style="position: absolute;bottom: 0;background:white;z-index: 1001;border: 1px solid #f1f1f1;width: 100%;height: 6rem;">
        <p style="margin-top: 0.4rem;font-size: 0.4rem;color: #333333;margin-left: 0.2rem;border-bottom: 1px solid #e5e5e5;padding-bottom: 0.4rem;text-align: center">服务说明</p>
        <p style="height: 0.5rem;line-height: 0.5rem;margin-top: 0.3rem"><span style="width: 0.15rem;height: 0.15rem;color: #ff4a59;border-radius: 10px;display: inline-block;background: #ff4a59;margin-left: 0.2rem"></span><span style="display: inline-block;color: #333333;font-size: 0.3rem;margin-left: 0.1rem;font-weight: 600;margin-top: 0.2rem">发货&售后</span></p>
        <p style="margin-top: 0.5rem;margin-left: 0.5rem;color: #333333;font-size: 0.28rem">由美享仓库直接发货并提供售后服务</p>
        <p style="margin-top: 0.5rem"><span style="width: 0.15rem;height: 0.15rem;color: #ff4a59;border-radius: 10px;display: inline-block;background: #ff4a59;margin-left: 0.2rem"></span><span style="display: inline-block;color: #333333;font-size: 0.3rem;margin-left: 0.1rem;font-weight: 600;">急速发货</span></p>
        <p style="margin-top: 0.3rem;margin-left: 0.5rem;color: #333333;padding-bottom: 0.4rem;font-size: 0.28rem">24小时内急速发货</p>
        <p ng-click="know()" style="text-align: center;color: #ff4a59;font-size: 0.34rem;margin-top: 0.1rem">我知道啦</p>
    </div>
</ion-view>