<ion-view style="background: #f2f5f9">
    <ion-content>
        <textarea placeholder="您的宝贵意见都会让我们变得更好~&#xA &#xA &#xA &#xA &#xA &#xA &#xA &#xA"
                  style="height:3.68rem;width:100%;font-size: 0.3rem;color: #333333;padding: 20px;"
                  ng-model="param.suggestion"></textarea>
        <br><br><br>
        <center>
            <button style="width:6.9rem;height:0.88rem;border-radius:0.46rem;color: #FFFFFF;background: #ff4a59;font-size: 0.34rem"
                    class="button " ng-click="submit()">提交</button>
        </center>
    </ion-content>
</ion-view>