<ion-view style="background: #f2f5f9">
    <ion-content>
          <div class="list">
              <p class="item"><img src="images/chinaBank.png"style="width: 0.62rem;height: 0.62rem;float: left;margin-top: 0.2rem">
              <span style="margin-left: 0.16rem;font-size: 0.32rem;color: #333333;font-weight: 600">中国银行</span><br>
              <span style="margin-left: 0.16rem;margin-top: 0.2rem;display: inline-block;font-size: 0.24rem;color: #999999">单笔限额1万元，每日限额1万元，每月限额2000万元</span>
              </p>
              <p class="item"><img src="images/gongshang.png" style="width: 0.62rem;height: 0.62rem;float: left">
                  <span style="margin-left: 0.16rem;font-size: 0.32rem;color: #333333;font-weight: 600">中国工商银行</span><br>
                  <span style="margin-left: 0.16rem;margin-t: 0.2rem;display: inline-block;font-size: 0.24rem;color: #999999">单笔限额1万元，每日限额1万元，每月无限额</span>
              </p>
              <p class="item"><img src="images/jianshe.png"style="width: 0.62rem;height: 0.62rem;float: left">
                  <span style="margin-left: 0.16rem;font-size: 0.32rem;color: #333333;font-weight: 600">中国建设银行</span><br>
                  <span style="margin-left: 0.16rem;margin-top: 0.2rem;display: inline-block;font-size: 0.24rem;color: #999999">单笔限额1万元，每日限额1万元，每月无限额</span>
              </p>
              <p class="item"><img src="images/nongye.png" style="width: 0.62rem;height: 0.62rem;float: left">
                  <span style="margin-left: 0.16rem;font-size: 0.32rem;color: #333333;font-weight: 600">中国农业银行</span><br>
                  <span style="margin-left: 0.16rem;margin-top: 0.2rem;display: inline-block;font-size: 0.24rem;color: #999999">单笔限额1万元，每日限额1万元，每月无限额</span>
              </p>
          </div>
    </ion-content>
</ion-view>