<ion-view style="background: #f2f5f9">
    <style type="text/css">
        .active{
            background: #e5e5e5;
        }
        .tabs-striped.tabs-color-assertive .tab-item{color: #333333;opacity:1;font-size: 0.3rem}
    </style>
    <!--<ion-content>-->
        <!--视频-->
        <div style="position: relative">
            <!--购买视频后点击播放弹出关注讲师微信-->
            <div class="a" style="width: 5.8rem;height:3rem;background: #FFFFFF;opacity:0.8;position: absolute;top: 50%;left: 50%;margin-top: -1.5rem;margin-left: -2.9rem;z-index: 1001" ng-show="addWeChat">
                <div style="float: left">
                    <img src="images/teachers.jpg" style="width: 2rem;height: 2rem;margin-left: 0.78rem;margin-top: 0.4rem;z-index: 1001">
                    <p style="margin-top: 0.1rem;color: #333333;font-size: 0.2rem;margin-left:0.88rem;">请添加讲师微信</p>
                </div>
                <div style="float: right;margin-right: 0.78rem;margin-top: 0.7rem">
                    <button style="font-size: 0.24rem;color: #aaaaaa;border: 1px solid #aaaaaa;border-radius: 0.46rem;width: 1.68rem;height: 0.52rem" ng-click="laterAdd()">稍后添加</button>
                    <br><br>
                    <button style="font-size: 0.24rem;color: #ff4a59;border: 1px solid #ff4a59;border-radius: 0.46rem;width: 1.68rem;height: 0.52rem" ng-click="mineAdd()">我已添加</button>
                </div>
            </div>
            <video ng-src="{{param.playURL}}"
                   style="height:200px;width:100%; position: relative;z-index: 1" />
        </div>
        <!--切换-->
        <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
            <div class="tabs" style="margin-top:-48px;position: relative">
                <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.tabType=='catalog']"
                   ng-click="chooseTab('catalog')">
                    <span style="font-size:16px">目录</span>
                </a>
                <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.tabType=='detail']"
                   ng-click="chooseTab('detail')">
                    <span style="font-size:16px">详情</span>
                </a>
            </div>
        </div>
        <div ng-if="param.tabType=='catalog'">
            <div style="margin-top:40px;position:absolute;height:400px;overflow-y:auto;width:100%">
                <a class="item" ng-repeat="item in param.product.productDetail.listCourse">
                    <p style="font-size:16px;">{{item.name}}</p>
                    <p ng-repeat="item2 in item.list" style="margin-top:15px;" ng-click="playCourse(item.name+'&'+item2.name)"  ng-class="{active:currentId===item.name+'&'+item2.name}">
                        <img src="images/play.png" style="display: inline-block;width: 19px;height: 14px">&nbsp;<span style="font-size:14px">{{item2.name}}</span>
                        <span style="float:right;margin-right:20px">{{item2.duration}}</span>
                    </p>
                </a>
                <br><br><br><br><br><br>
            </div>
        </div>
        <!--详情页的图片-->
        <div ng-if="param.tabType=='detail'">
            <div style="margin-top:40px;position:absolute;height:400px;overflow-y:auto;width:100%">
                <div ng-repeat="item in param.product.productDetail.detailList">
                    <img ng-src="{{item}}" style="width:100%">
                </div>
                <br><br><br><br><br><br>
            </div>
        </div>
    <!--</ion-content>-->
    <div class="tabs" ng-show="curriculum"  style="padding-top: 0px">
        <a class="tab-item" style="background:white;color:red;min-width:5rem">
            <span style="float:right;margin-right:20px;font-size:20px">￥{{param.product.price}}</span>
        </a>
        <a class="tab-item" style="background:red;color:white" ng-click="goPay()">
            <span style="font-size: 16px">立即购买</span>
        </a>
    </div>
</ion-view>