<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list">
            <p class="item"><span style="color: #333333;font-size: 0.71rem;float: left;margin-top: 0.1rem">￥</span><input type="text" placeholder="请输入要提现的余额" style="float: left" ng-model="param.withDrawAmount">
                <span style="float: right;margin-right: 0.2rem;font-size: 0.26rem;color: #6d9fe1;margin-top: 0.15rem" ng-click="withDrawAll()">全部提现</span></p>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label" style="color: #333333;font-size: 0.3rem">姓名</span>
                <input type="text" placeholder="请输入本人姓名，核实后不可修改" ng-model="param.userName">
            </label>
            <p class="item"><span style="float: left;color: #333333;font-size: 0.3rem">证件类型</span><span style="float: right;font-size: 0.26rem;color: #333333;margin-right: 0.2rem">身份证</span></p>
            <label class="item item-input">
                <span class="input-label" style="color: #333333;font-size: 0.3rem">身份证号</span>
                <input type="text" placeholder="请输入您的身份证号码" ng-model="param.userIdentifyNumber">
            </label>
            <label class="item item-input">
                <span class="input-label" style="color: #333333;font-size: 0.3rem">储蓄卡号</span>
                <input type="text" placeholder="请输入您的储蓄卡卡号" ng-model="param.bankCardNumber">
            </label>
            <label class="item item-input">
                <span class="input-label" style="color: #333333;font-size: 0.3rem">开户行地址</span>
                <input type="text" placeholder="请输入您的开户行(支行)地址" ng-model="param.bankAddress">
            </label>
        </div>
        <p ui-sref="supportBank" style="float: right;margin-right: 0.2rem;font-size: 0.26rem;color: #6d9fe1">
            查看支持银行
        </p>
        <p style="color:black;margin-left:12px">可提现余额￥{{(param.accountInfo.balance - param.accountInfo.balanceDeny).toFixed(2)}}元</p>
        <center>
            <button style="width:6.9rem;height:0.88rem;border-radius:0.46rem;color: #FFFFFF; background: #ff4a59;margin-top: 1rem;font-size: 0.34rem" class="button button-assertive"  ng-click="confirmWithDraw()">提现</button>
        </center>
        <p style="font-size: 0.26rem;color: #999999;margin-top: 0.16rem;margin-left: 0.5rem">注：两个工作日到账</p>
        <!--<div class="list card">-->
            <!--<a class="item item-body" style="background:white;height:7rem">-->
                <!--<p>-->
                    <!--<span style="font-size: 0.26rem;color: #333333">提现到</span>-->
                    <!--<span style="color:#6D9Fe1;font-size: 0.26rem">微信零钱</span>-->
                <!--</p>-->
                <!--<p style="margin-top:-12px;font-size:0.24rem;color:#999999">-->
                    <!--<span>2个工作日到账</span>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<input placeholder="请输入要提取的金额" style="position:absolute;font-size:0.4rem;margin-left:1.2rem" ng-model="param.withDrawAmount">-->
                <!--</p>-->
                <!--<p style="margin-top:0.45rem;font-size:0.5rem;margin-left:0.5rem;">-->
                    <!--<u style="color:#333333;font-size: 0.72rem">￥</u>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<span style="font-size: 0.26rem;color: #333333;margin-left: 0.3rem">可提现余额￥{{param.accountInfo.balance - param.accountInfo.balanceDeny}}，</span>-->
                    <!--<span style="color:#6D9Fe1;font-size: 0.26rem" ng-click="withDrawAll()">全部提现</span>-->
                <!--</p>-->
                <!--<center>-->
                    <!--<input placeholder="首次提现请输入您的身份证号" ng-model="param.userIdentifyNumber" style="border:solid 1px;border-radius:0.46rem;width: 5.7rem;height:0.76rem;font-size:0.32rem;text-align: center;border: 1px solid #aaaaaa">-->
                    <!--<button class="button button-assertive" ng-click="confirmWithDraw()" style="    margin-top:0.5rem;width:5.7rem;border-radius:0.46rem;height: 0.88rem;background: #ff4a59;color: #FFFFFF">提现</button>-->
                <!--</center>-->
            <!--</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>