/*common start*/
/*input {*/
	/*width:30%;*/
	/*padding:6px 12px;*/
	/*font-size:14px;*/
	/*line-height:1.42857143;*/
	/*color: #555;*/
	/*background-color: #fff;*/
	/*background-image: none;*/
	/*border: 1px solid #ccc;*/
	/*border-radius: 4px;*/
/*}*/
body,html{
	width:100%;
	height:100%;
}
ul,li{
	list-style:none;
}
em{
	font-style:normal;
}
hospital-menu{
	width:100%;
	position:fixed;
	left:0px;
	top:0px;
	z-index:5;
}
a,a:hover{
	color:#1db4bd;
}
.nav{
	margin-bottom:5px;
}
.navbar-default{
	background:-webkit-linear-gradient(#009ed4,#23beaf);
	background:-moz-linear-gradient(#009ed4,#23beaf);
	background:-ms-linear-gradient(#009ed4,#23beaf);
	background:linear-gradient(#009ed4,#23beaf);
}
.nav-pills > li > a{
	color:#333;
	cursor:pointer;
}
.nav-pills > li > a:hover{
	background:#d6faf6;
	border-radius:0;
}
.nav-pills > li:first-child{
	background:#f5f5f5;
	color:#9b9b9b;
	padding:10px 15px;
}
.nav-pills > li.active > a,.nav-pills > li.active > a:hover{
	color: #333;
	background-color: #d6faf6;
	border-radius: 0;
	border-right: 3px solid #1db4bd;
}
.pagination > li > a, .pagination > li > span{
	color:#1db4bd;
}
.pagination > .active > a{
	background-color: #1db4bd;
	border-color: #1db4bd;
}
.btn-primary {
	color: #fff;
	background-color: #1db4bd;
	border-color: #1bacb5;
}
.btn-primary:hover{
	background-color: #13969e;
	border-color: #118c93;
}
.alert-info {
	color: #1db4bd;
	background-color: #d1f0f2;
	border-color: #bce8f1;
}
.table-responsive{
	overflow-x: hidden;
}
.table>tbody>tr>td{
	vertical-align: middle;
}
.table pre{
	border:none;
	background:none;
	margin:0px;
	padding:0px;
}
.shadeContainer{
	width:100%;
	height:100%;
	position:fixed;
	left:0;top:0;
	background:rgba(0,0,0,.4);
	z-index:10;
}
.fixHeight{
	height:60px;
}
.alertContainer{
	width: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 15px;
	padding: 5px 10px 20px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.alertTit{
	text-align: center;
	line-height: 40px;
	margin-top:15px;
}
.alertBtn>div{
	width: 80%;
	line-height: 30px;
	border-radius: 30px;
	text-align: center;
	margin: 15px auto;
	cursor:pointer;
	background:#dcdcdc;
	color:#333;
}
div.keepLight,.alertBtn>div:hover{
	color:#fff;
	background:-webkit-linear-gradient(#23beaf,#009ed4);
	background:-moz-linear-gradient(#23beaf,#009ed4);
	background:-ms-linear-gradient(#23beaf,#009ed4);
	background:linear-gradient(#23beaf,#009ed4);
}
#main-menu li{
	display:none;
}

/*服务套餐*/
.signArea{
	border:1px dashed #59dbcf;
	background:#fff;
	text-align: center;
	color:#59dbcf;
}
/*记录图片显示*/
.reportImg{
	overflow: hidden;
	clear:both;
}
.reportImg div{
	width:100px;
	height:100px;
	float:left;
	margin-right:2%;
	margin-bottom:2%;
	overflow:hidden;
	position:relative;
}
.reportImg img{
	width:100px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}
/*登录开始*/
.loginContainer{
	width:400px;
	margin:0 auto;
	background:#fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding:20px 30px 30px;
	border-radius:18px;
}
.loginContainer>h3{
	font-weight:normal;
	font-size:20px;
	text-align:center;
	margin-bottom:30px;
}
.loginForm>div{
	margin-bottom:25px;
	position:relative;
}
.loginForm input{
	width:100%;
	height:36px;
	padding:10px;
	border:1px solid #dcdcdc;
	border-radius:5px;
}
.loginForm input:focus{
	border:1px solid #23beae;
}
.getCodeBtn{
	width:100px;
	height:33px;
	line-height:34px;
	text-align:center;
	cursor: pointer;
	border-left: 1px solid #dcdcdc;
	position:absolute;
	right:1px;
	top:2px;
	z-index:5;
	background:#fbfbfb;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;

}
.getCodeBtn.null{
	background:#e9e9e9;
	border-color:#e9e9e9;
	color:#a2a2a2;
}
.errorHint{
	line-height:6px;
	padding-left: 2px;
	color:#f00;
}
.btnLogin{
	width:100%;
	line-height:40px;
	color:#fff;
	border-radius:20px;
	text-align:center;
	border:none;
	font-size:16px;
	cursor:pointer;
	margin-top:20px;
	background:-webkit-linear-gradient(#23beaf,#009ed4);
	background:-moz-linear-gradient(#23beaf,#009ed4);
	background:-ms-linear-gradient(#23beaf,#009ed4);
	background:linear-gradient(#23beaf,#009ed4);
}
.btnSuc{

}
/*登录结束*/

/*标签*/
.LabelArea{
	width:100%;
	position:absolute;
	left:0px;
	top:60px;
	border:1px solid #ccc;
	background:#fff;
	padding:20px 10px;
}
.LabelArea label{
	padding:8px 12px;
	border:1px solid #ccc;
	margin:5px;
}

/*问卷后台*/
.survey_td_percent_bj{
    width:80%;
    height:15px;
    background:#ccc;
    border-radius:8px;
    position:relative;
    float:left;
}
.survey_td_percent_val{
    height:100%;
    background:cornflowerblue;
    border-radius:inherit;
    position:absolute;
    left:0px;
    top:0px;
}
.survey_td_percent_num{
    float:left;
    margin-left:10px;
}
.operate{
    width:26px;
    height:26px;
    border:1px solid #000;
    border-radius:50%;
    float:left;
    margin-left:10px;
    margin-top:4px;
    line-height:23px;
    font-size:28px;
    text-align:center;
    cursor:pointer;
}
.operate.add{
    border:1px solid #0c80fe;
    color:#0c80fe;
}
.operate.reduce{
    border:1px solid #B52E31;
    color:#B52E31;
    line-height:18px;
}
.select_hint{
    margin:10px 0px;
    color:#d30101;
}
.loading{
    background:url('/laoyouWeb/images/time.gif') no-repeat left top;
    padding-left:47px;
}


