body{background:#1b1e26;color:#fff;}
.mg-lr{margin:0px 32px;}
.layui-progress-bar.layui-bg-red{background-color: #a2141f!important;}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
/*控制台header*/
.mecha-header{background:#182330;height:50px;}
.mecha-header h1{line-height:50px;padding-left:24px;}
.mecha-header h1 img{width:40px;}
.mecha-header .layui-nav{background:#182330;padding:0px;}
.mecha-header .layui-this{background:#2365d1;}
.mecha-header .layui-nav a{font-size:20px;padding:0 35px;line-height:50px;}
.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {background:none;}
.mecha-header .layui-nav a:hover,
.mecha-header .mecha-quit:hover{background:rgb(32,87,176);}
.mecha-header .mecha-quit{line-height:50px;font-size:20px;cursor:pointer;padding-left:13px;}
.mecha-header .mecha-quit i{margin-right:6px;font-size:20px;}
.layui-layer-content{color:#333;}
/*控制台-content*/
.mecha-control{padding-top:12px;height:184px;margin-bottom:8px;}
.mecha-control>div{width:298px;height:inherit;background:#313131;}

/*控制台-比赛信息*/
.mecha-control .game-info{width:465px;}
.game-info-left{padding:16px 0px 20px 31px;}
.game-info-tit{font-size:18px;}
.game-info-score{margin:24px 0px 20px;}
.game-info-score b{font-size:46px;color:#ffc706;letter-spacing: 15px;margin:0px 9px 0px 21px;}
.game-info-score>span{width:24px;height:24px;top:-4px;}
.game-info-score .game-info-dotl{background:#2365d1;}
.game-info-score .game-info-dotr{background:#e60012;}
.game-info-right{padding:10px 14px 19px 20px;}
.game-info-right .layui-input{height:auto;}
.game-info-right .layui-form-item{margin-bottom:0px;}
.game-info-right .layui-form-label{width:60px;padding:0px;}
.game-info-right .layui-input-block{width:83px;margin-left:68px;min-height:28px;}
.game-info-right .layui-form-select dl{top:23px;}
.game-info-right .layui-form-select dl dd{color:#333;line-height:30px;}
.game-info-right .layui-btn{width:150px;height:36px;background:#2365d1;margin-left:0px;line-height:36px;}
.game-start-btn{margin-bottom:8px;}
.game-info-time{font-size:16px;}
.game-info-time span{font-size:18px;}

/*控制台-场地*/
.game-message,
.game-place{padding:16px 20px;}
.game-message-list{width:96%;height:120px;background:rgb(67,67,67);margin-top:8px;overflow:auto;padding:7px 0px 6px 10px;font-size:12px;}
.game-message-list i{font-size:12px;margin-right:3px;}
.game-message-list .success{color:#ff0;}
.game-message-list .warning,.layui-icon.ion-correct{color:#0f0;}
.game-place-list{width:100%;margin-top:20px;}
.game-place-list li{height:20px;background:#434343;margin-bottom:8px;padding:4px;}
.game-place .layui-nav-more{border-style:none;}
.game-place .mecha-item-nav .layui-nav-item{line-height:18px;margin-bottom:0px;}
.game-place .mecha-item-nav .layui-nav-item .layui-icon{font-size:20px;position: relative;top:2px}
.game-place .mecha-item-nav .layui-nav-child a{padding:2px 14px;line-height:23px;}
.layui-icon.ion-wrong{color:#f00;font-weight:bolder;margin:0px 5px;}

/*控制台-赛场展示*/
.mecha-floor{margin-top:18px;height:233px;}
.mecha-army-badge{width:167px;height:inherit;font-size:16px;text-align: center;padding-top:8px;}
.mecha-army-badge-team{font-size:20px;margin:13px 0px;}
.mecha-army-badge p{margin:6px 0px;}
.mecha-item{width:298px;height:inherit;background:#1c2537;padding:12px 15px;position: relative;}
.mecha-item-nav .layui-nav-item dd.layui-this,.mecha-item-nav .layui-nav-item dd.layui-this a{background-color:#fff;color:#333;}
.mecha-floor .mecha-item:nth-child(3){margin:0px 32px;}
.mecha-item-photo{width:69px;height:69px;position:relative;}
.mecha-item-photo img{width:69px;height:69px;}
.badge-border{width:69px;position:absolute;left:0px;top:0px;}
.mecha-item-info{margin-left:15px;line-height:22px;margin-top:4px;}
.mecha-item-name{font-size:16px;font-weight: bold;}
.mecha-item-stop{margin-top:12px;}
.mecha-item-nav.layui-nav{background:none;padding:0px;}
.mecha-item-nav .layui-nav-item{line-height:22px;margin-bottom:8px;}
.mecha-item-nav .layui-nav-item a{padding-left:0px;color:#fff;}
.mecha-item-nav .layui-nav-child{top:28px;text-align: center;}
.mecha-item-nav .layui-nav-child a{padding:0px 5px;color:#333;}
.mecha-item-bar{margin:7px 7px 0px 0px;}
.mecha-item-bar .layui-progress,.mecha-item-bar .layui-progress-bar{height:11px;border-radius:0px;}
.mecha-player{margin-top:15px;}
.mecha-player .mecha-item-info{margin-top:10px;}
.mecha-state{text-align: center;margin-top:9px;}
.mecha-state.state-leave{color:#fa163b;}
@keyframes invincibleShow {  
    20%{color:#faf716}  
    40%{color:#FA163B}  
    60%{color:#faf716}
    100%{color:#FA163B}
}
@-webkit-keyframes invincibleShow{
	20%{color:#faf716}  
    40%{color:#FA163B}  
    60%{color:#faf716}
    100%{color:#FA163B}
}
@-moz-keyframes invincibleShow{
	20%{color:#faf716}  
    40%{color:#FA163B}  
    60%{color:#faf716}
    100%{color:#FA163B}
}
@-ms-keyframes invincibleShow{
	20%{color:#faf716}  
    40%{color:#FA163B}  
    60%{color:#faf716}
    100%{color:#FA163B}
}  
.mecha-state.state-invincible{
	animation: invincibleShow 1s infinite;
	-webkit-animation: invincibleShow 1s infinite;
	-moz-animation: invincibleShow 1s infinite;
	-ms-animation: invincibleShow 1s infinite;
	-o-animation: invincibleShow 1s infinite;}
.mecha-rid-btn.layui-btn{height:24px;line-height:24px;padding:0px 12px;margin-left:26px;margin-top:-5px;}
.battery{width:24px;height:43px;border-radius:3px;padding:2px;position:absolute;right:15px;top:15px;}
.battery span{width:8px;height:3px;border-bottom:none;position:absolute;left:9px;top:-5px;}
.battery .layui-progress{width:45px;transform: rotate(-90deg);height:24px;border-radius:0px;top:9px;left:-10px;background:none;}
.battery .layui-progress-bar{height:24px;border-radius:0px;}
.battery.red{border:1px solid #a2141f;}
.battery.red span{border:1px solid #a2141f;}
.battery.green{border:1px solid #5FB878;}
.battery.green span{border:1px solid #5FB878;}
.battery.layui-anim{-webkit-animation-duration:.5s;animation-duration:.5s;}

/*控制台-规则设置*/
.rule-form{width:800px;margin:20px 0px 0px 20px;}
.rule-form .layui-input{display:inline-block;width:85%;}
.rule-form .layui-input-block{margin-left:226px;width:30%;}
.rule-form .layui-input-block dd{color:#333;}
.rule-form .layui-form-label{width:190px;}
.mecha-btn-normal{background-color:#2365d1;}
.mecha-btn-normal.layui-btn-disabled{background-color:#FBFBFB;}

/*机甲争霸*/
.host-container{width:1920px;padding:0px;margin:0px;background:#1a1a1a;}
.host-content,.host-header{width:inherit;}
.host-header{height:240px;position:relative;}
.host-header-slide{width:514px;background:#242424;position:absolute;left:0px;top:0px;}
.host-header-logo{height:128px;background:#2365d1;margin:16px 0px;padding:34px 0px 0px 45px;box-sizing:border-box;}
.host-header-player-info{height:80px;line-height:80px;background:#1a1a1a;font-size:40px;padding:0 148px;}
.host-header-main{width:1379px;height:246px;position:absolute;left:270px;top:0px;z-index:2;}
.host-header-slide.slide-right{text-align:right;left:1405px;}
.host-header-slide.slide-right .host-header-logo{padding-right: 45px;background: #d13623;}
.host-slide-container{width:514px;height:840px;background:#3a3a3a;}
.host-slide{width:490px;height:262px;background:#282828;margin:13px auto;padding:15px 0px 0px 16px;box-sizing: border-box;}
.host-item-photo{width:184px;height:184px;margin-right:24px;margin-top:8px;}
.host-item-photo img{width:184px;height:184px;}
.host-item-text{font-size:20px;opacity: 0.8;filter:Alpha(opacity=80);text-align:center;margin-top:10px;}
.host-waiting{font-size:30px;opacity: 0.8;filter:Alpha(opacity=80);margin-top:78px;}
.host-item-name{font-size:30px;font-weight:bold;opacity: 0.8;filter:Alpha(opacity=80);margin:3px 0px 3px 0px;}
.host-item-bar{width:260px;}
.host-item-bar,.host-item-bar .layui-progress-bar{height:24px;border-radius:4px;}
.host-item-barNum{font-size:16px;opacity: 0.8;filter:Alpha(opacity=80);margin-top:8px;}
.host-item-state{font-size:44px;font-weight:bold;text-align:center;background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 223, 49, 1)), to(rgba(248, 231, 135, 1)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.host-item-state.layui-anim-loop{-webkit-animation-duration: .6s;animation-duration: .6s;}
.host-item-icon{font-size:24px;opacity: 0.8;filter:Alpha(opacity=80);text-align: center;}
.state-icon{display:inline-block;width:42px;height:42px;margin-right:10px;position:relative;top:11px;background-position:center;}
.ion-normal{background-image:url(/images/host/state-normal.png);}
.ion-faint{background-image: url(/images/host/state-faint.png);}
.ion-invincible{background-image:url(/images/host/state-invincible.png);}
.ion-leave{background-image: url(/images/host/state-leave.png);}
.host-center{width:892px;height:840px;background-color:#1a1a1a;}
.host-count-bg,.host-ready{width:inherit;height:inherit;background:url(/images/host/logo-bg.png) center no-repeat #1a1a1a;}
.host-ready{font-size:56px;color:#cacaca;text-align:center;padding-top:326px;box-sizing:border-box;line-height:94px;}
.host-count-num{width:inherit;height:inherit;background:url(/images/host/count-down-bg.png) center no-repeat;font-size:656px;font-weight:bolder;color:#d13623;text-align: center;}
.host-score-container{font-size:36px;text-align: center;padding-left:33px;}
.host-score-title{font-size:70px;font-weight: bold;color:#d6013d;line-height:158px;}
.host-score-numbg{width:826px;height:361px;background:url(/images/host/score-bg.png) center;}
.host-score-num{font-size:240px;font-weight:bold;}
.host-score-timebg{width:843px;height:278px;background:url(/images/host/count-time-bg.png) center;font-size:150px;color:#d6013d;}
.host-score-timebg div{margin-top:63px;}
.host-score-timebg div:nth-child(1){padding-left: 30px;}
.host-score-timebg div:nth-child(2){padding-right: 30px;}

/*游戏结束*/
.game-over-shade{width:100%;height:100%;background:rgba(0,0,0,.7);position:fixed;left:0px;top:0px;z-index:10;}
.game-over-container{width:1053px;height:706px;border:12px solid #3a3a3a;text-align:center;font-size:24px;background:#1a1a1a;position:fixed;left:50%;top:50%;margin-left:-526px;margin-top:-353px;z-index:11;}
.game-over-title{font-size:80px;font-weight:bold;position:relative;margin:30px 0px;padding-left:50px;
background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 223, 49, 1)), to(rgba(248, 231, 135, 1)));
background-image: -moz-linear-gradient(rgba(255, 223, 49, 1),rgba(248, 231, 135, 1));
background-image: -ms-linear-gradient(rgba(255, 223, 49, 1),rgba(248, 231, 135, 1));
background-image: -o-linear-gradient(rgba(255, 223, 49, 1),rgba(248, 231, 135, 1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip:text;
-moz-text-fill-color:transparent;
-ms-background-clip:text;
-ms-text-fill-color:transparent;
-o-background-clip:text;
-o-text-fill-color:transparent;
}
.game-over-title:before,.game-over-title:after{display: block;content:'';width:138px;height:7px;position:absolute;top:56px;
	background:red; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(left, #ffdf31, #f8e787);  
    background:-ms-linear-gradient(left, #ffdf31, #f8e787); 
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 223, 49, 1)), to(rgba(248, 231, 135, 1)));
    background:-o-linear-gradient(left, #ffdf31, #f8e787); }
.game-over-title:before{left:124px;}
.game-over-title:after{right:124px;}
.game-over-player{padding-left:152px;}
.game-over-player>div{width:184px;}
.game-over-score-numbg{width:844px;height:189px;background:url(/images/host/game-over-score-bg.png) center;font-weight: bold;margin:30px auto 0px;}
.game-over-score-num{font-size:124px;}
