<ion-view class="educationUserSet">
    <ion-content>
        <div class="list">
            <a class="item" ng-click="goSafety()">
                <p class="item-note">></p>
                <p><img src="images/zhaq-icon.png" class="title-left-icon">&nbsp;&nbsp;账号与安全</p>
            </a>
        </div>
        <div class="list">
            <a class="item" ng-click="goAbout()">
                <p class="item-note">></p>
                <p><img src="images/gywm-icon.png" class="title-left-icon">&nbsp;&nbsp;关于我们</p>
            </a>
            <a class="item">
                <p class="item-note">></p>
                <p><img src="images/yqpy-icon.png" class="title-left-icon">&nbsp;&nbsp;邀请朋友加入</p>
            </a>
            <a class="item">
                <p><img src="images/qtfk-icon.png" class="title-left-icon">&nbsp;&nbsp;问题与反馈</p>
            </a>
        </div>
        <div class="list">
            <a class="item" style="color:black;text-align:center" ng-click="goExit()">
               退出登录
            </a>
        </div>

        <br><br><br><br>
    </ion-content>
</ion-view>