
<div>
    <enjoy-menu></enjoy-menu>
    <nav-bar  index1="3" index2=""></nav-bar>
    <div class="main_content">
        <div class="mum" ng-show="mum">
            <div class="m-load2">
                <div class="line">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="circlebg"></div>
            </div>
        </div>
        <div class="content_box">
            <div class="product_content_left">
                <a class="btn_back" ng-click="back()">返回</a>
            </div>
            <div class="product_content_right">
                <div class="rightCenter">
                    <div class="tableBox">
                        <h3>本人月消费记录:</h3>
                        <div class="table_lis">
                            <table class="table  table-hover text-center table-bordered ">
                                <tr id="product_lis_title">
                                    <th class="text-center">手机号</th>
                                    <th class="text-center">订单编号</th>
                                    <th class="text-center">付款时间</th>
                                    <th class="text-center">支付金额</th>
                                    <th class="text-center">状态</th>
                                </tr>
                                <tr ng-repeat="item in abschluss">
                                    <td>{{item.mobile}}</td>
                                    <td>{{item.orderId}}</td>
                                    <td>{{item.payDate|date:"yyyy-MM-dd HH:MM:ss"}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.status}}</td>
                                </tr>
                            </table>
                            <div detail-page></div>
                        </div>
                    </div>
                    <div class="tableBox">
                        <h3>本人下级月消费记录:</h3>
                        <div class="table_lis">
                            <table class="table  table-hover text-center table-bordered ">
                                <tr class="product_lis_title">
                                    <th class="text-center">昵称</th>
                                    <th class="text-center">手机号</th>
                                    <th class="text-center">交易流水号</th>
                                    <th class="text-center">付款时间</th>
                                    <th class="text-center">支付金额</th>
                                </tr>
                                <tr ng-repeat="item in monthlyPar">
                                    <td>{{item.nickName}}</td>
                                    <td>{{item.mobile}}</td>
                                    <td>{{item.transactionId}}</td>
                                    <td>{{item.createDate|date:"yyyy-MM-dd HH:MM:ss"}}</td>
                                    <td>{{item.amount}}</td>
                                </tr>
                            </table>
                            <div page-tool></div>
                        </div>
                    </div>

                   <!-- <input type="button" value="审核通过" class="submit_btn" ng-click="submit()">-->
                </div>
            </div>
        </div>
    </div>
</div>