<div>
    <enjoy-menu></enjoy-menu>
    <nav-bar index1="5" index2="51"></nav-bar>
    <div class="main_content">
        <div class="mum" ng-show="mum">
            <div class="m-load2">
                <div class="line">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="circlebg"></div>
            </div>
        </div>
        <div class="content_box">
            <div class="product_content_right">
                <div class="rightCenter">
                    <div class="product_lis meunLis1">
                            <button ng-click="bgChangeAndSearch(0,-1)" ng-class="{'active':agencyIndex==0}">全部</button>
                            <button ng-click="bgChangeAndSearch(1,'business-A')" ng-class="{'active':agencyIndex==1}">A级</button>
                            <button ng-click="bgChangeAndSearch(2,'business-B')" ng-class="{'active':agencyIndex==2}">B级</button>
                            <button ng-click="bgChangeAndSearch(3,'business-C')" ng-class="{'active':agencyIndex==3}">普通</button>
                    </div>
                    <div class="product_eara">
                        <div class="product_name">
                            <div class="product_nameEara">
                                <label class="bold">用户账号:</label>
                                <input type="text" class="product_search" ng-model="phoNum">
                            </div>
                        </div>
                        <div class="product_name big">
                            <div class="ABtime">

                                   <span class="bold agencyTime">时间：&nbsp&nbsp&nbsp</span>

                                <input  class="time startTime laydate-icon"  id="startTime" ng-click="dataS('#startTime')" >&nbsp--&nbsp<input  class="time endTime laydate-icon " id="endTime" ng-click="dataS('#endTime')">
                            </div>
                        </div>
                        <div class="product_searchEara">
                            <input type="button" value="搜索" class="search_btn top_1" ng-click="searchAB()">
                        </div>
                    </div>
                    <div class="table_lis">

                        <table class="table  table-hover text-center  ">
                            <thead>
                            <tr id="product_lis_title">
                                <th class="text-center" >昵称</th>
                                <th class="text-center" >账号</th>
                                <th class="text-center" >等级</th>
                                <th class="text-center" >时间</th>
                                <th class="text-center" >时效</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in agency">
                                <td>{{item.nickname}}</td>
                                <td >
                                   {{item.mobile}}
                                </td>
                                <td > {{item.userType}}级</td>
                                <td >{{item.createDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{item.createDate|timeDistance}}</td>
                                <td><a ui-sref="agencyParticulars({id:item.id})" class="orderBtn" >详情</a></td>
                            </tr>



                            </tbody>
                        </table>
                        <div page-tool></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>