<div>
 <enjoy-menu></enjoy-menu>
 <nav-bar index1="6" index2="62"></nav-bar>
 <div class="main_content">
     <div class="mum" ng-show="mum">
         <div class="m-load2">
             <div class="line">
                 <div></div>
                 <div></div>
                 <div></div>
                 <div></div>
                 <div></div>
                 <div></div>
             </div>
             <div class="circlebg"></div>
         </div>
     </div>
     <div class="content_box">

        <div class="product_content_right">
            <div class="rightCenter">
                <div class="product_eara">
                    <div class="product_name">
                        <div class="product_nameEara">
                            <label class="bold">手机OR身份证:</label>
                            <input type="text" class="product_search" ng-model="BalanceAounnt">
                        </div>
                    </div>
                    <div class="product_searchEara">
                        <input type="button" value="搜索" class="search_btn top_1" ng-click="searchBalance()">
                    </div>
                </div>
                <div class="table_lis">

                    <table class="table text-center ">
                        <thead>
                        <tr id="product_lis_title">
                            <th class="text-center" >昵称</th>
                            <th class="text-center" >手机号</th>
                            <th class="text-center">余额</th>
                            <th class="text-center" >身份证号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in balanceLis">

                            <td >
                                {{item.nickName}}
                            </td>
                            <td>{{item.mobile}}</td>
                            <td>{{item.balance}}</td>
                            <td>{{item.identifyNumber}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div page-tool></div>
                </div>
            </div>

        </div>

     </div>
 </div>
</div>