<div>
    <enjoy-menu></enjoy-menu>
    <nav-bar index1="6" index2="61"></nav-bar>
    <div class="main_content">
        <div class="mum" ng-show="mum">
            <div class="m-load2">
                <div class="line">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="circlebg"></div>
            </div>
        </div>
     <div class="content_box">
         <div class="product_content_right">
             <div class="rightCenter">
                 <div class="product_eara">
                     <div class="product_name">
                         <div class="product_nameEara ">
                             <label  for="financeName" class="bold">账单编号:</label>
                             <input type="text" class="product_search" ng-model="bills" id="financeName">
                         </div>
                         <div class="product_nameEara " >
                             <label  for="orderNum" class="bold">订单编号:</label>
                             <input type="text" class="product_search" ng-model="order" id="orderNum">
                         </div>
                     </div>
                     <div class="product_name big">
                         <div class="orderTime">
                             <label class="bold">
                                 完成时间：
                             </label>
                             <input  class="StreamNumberStart laydate-icon" id="StreamNumberStart" ng-click="dataS('#StreamNumberStart')" >&nbsp--&nbsp<input class="StreamNumberEnd laydate-icon" id="StreamNumberEnd" ng-click="dataS('#StreamNumberEnd')" >
                         </div>
                         <div class="orderTime">
                             <label class="bold">
                                 付款时间：
                             </label>
                             <input  class="orderPayStart laydate-icon" id="orderPayStart" ng-click="dataS('#orderPayStart')" >&nbsp--&nbsp<input  class="orderPayEnd laydate-icon" id="orderPayEnd" ng-click="dataS('#orderPayEnd')" >
                         </div>
                     </div>
                     <div class="product_searchEara">
                         <input type="button" value="搜索" class="search_btn" ng-click="searchBills()">
                     </div>
                 </div>
                 <div class="table_lis">

                     <table class="table   table-hover text-center  ">
                         <thead>
                         <tr id="product_lis_title">
                             <th class="text-center">昵称</th>
                             <th class="text-center">用户账号</th>
                             <th class="text-center" >账单编号</th>
                             <th class="text-center" >订单编号</th>
                             <th class="text-center" >付款时间</th>
                             <th class="text-center" >完成时间</th>
                             <th class="text-center">订单金额</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="item in finance" >
                             <td>{{item.nickName}}</td>
                             <td>{{item.mobile}}</td>
                             <td >{{item.transactionId}}</td>
                             <td >{{item.orderId}}</td>
                             <td >{{item.payDate|date:'yyyy-MM-dd'}}</td>
                             <td >{{item.updateDate|date:'yyyy-MM-dd'}}</td>
                             <td >{{item.amount}}</td>
                         </tr>
                         </tbody>
                     </table>
                     <div page-tool></div>
                 </div>
             </div>
        </div>
     </div>
    </div>
</div>