
  <div>
    <enjoy-menu></enjoy-menu>
    <nav-bar index1="4" index2="42"></nav-bar>
    <div class="main_content">
         <div class="content_box">
             <div class="product_content_right">
                 <div class="rightCenter">
                     <div class="uploading_product_name">
                         <label for="class_name">
                             课程名称:
                         </label>
                         <input type="text" id="class_name" class="product_search"  ng-model="param.className">
                     </div>
                     <div class="uploading_product_name">
                         <label for="class_section">
                             课程章节:
                         </label>
                         <input type="text" id="class_section" class="product_search" ng-model="param.section">
                     </div>
                     <div class="uploading_product_name">
                         <label for="class_minutia">
                             课程小节:
                         </label>
                         <input type="text" id="class_minutia" class="product_search" ng-model="param.minutia">
                     </div>
                     <div class="name_row blank">
                         <label >上传视频:</label>
                         <input ng-file-select="onFileSelect($files)" type="file" accept=".csv" class="product_search">
                         <input type="button" ng-click="uploadFile()" value="上传到阿里云" style="padding: 5px 10px;border-radius: 4px;color:white;" class="{{blueBgLight}}">
                         <img ng-src="{{hintPic}}" class="hintPic" ng-show="hintPic!=''?true:false">
                     </div>
                     <div id="list_viewPic"></div>
                     <div class="name_row blank">
                         <label for="introduction" style="vertical-align: top">添加描述:</label>
                         <textarea cols="42" rows="7" id="introduction"  ng-model="param.introduce"> </textarea>
                     </div>
                     <div class="save saveOperation">
                         <input type="button" value="保存" class="save_btn"  ng-click="submit()" >
                     </div>

                 </div>
             </div>
             <div class="product_content_left">

             </div>
         </div>
     </div>
  </div>