  <div>
     <enjoy-menu></enjoy-menu>
     <nav-bar index1="3" index2="31"></nav-bar>
     <div class="main_content">
         <div class="mum" ng-show="mum">
             <div class="m-load2">
                 <div class="line">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                 </div>
                 <div class="circlebg"></div>
             </div>
         </div>
         <div class="content_box">
             <div class="product_content_right">
                 <div class="rightCenter">
                     <div class="product_lis meunLis" >
                         <button ng-click="bgChangeAndSearch(0,'')" ng-class="{'active':agencyIndex==0}">全部订单</button>
                         <button ng-click="bgChangeAndSearch(1,'0')" ng-class="{'active':agencyIndex==1}">待付款</button>
                         <button ng-click="bgChangeAndSearch(2,'1')" ng-class="{'active':agencyIndex==2}">待发货</button>
                         <button ng-click="bgChangeAndSearch(3,'4')" ng-class="{'active':agencyIndex==3}">待收货</button>
                         <button ng-click="bgChangeAndSearch(4,'2')" ng-class="{'active':agencyIndex==4}">已完成</button>
                     </div>
                     <div class="product_eara">
                         <div class="product_name">
                             <div class="product_nameEara">
                                 <label for="orderNums" class="bold">订单编号:</label>
                                 <input type="text" class="product_search" id="orderNums" ng-model="orderReference">
                             </div>
                             <div class="product_nameEara">
                                 <label  for="userNums" class="bold">买家账号:</label>
                                 <input type="text" class="product_search" id="userNums"
                                 ng-model="orderUserAccount">
                             </div>

                         </div>
                         <div class="product_name big order">
                             <div>
                                 <label class="bold" >
                                     付款时间：
                                 </label>
                                 <input  class="time orderPayStartTime laydate-icon" id="orderPayStartTime"  ng-click="dataS('#orderPayStartTime')" >&nbsp--&nbsp<input   class="time orderPayEndTime laydate-icon" id="orderPayEndTime"  ng-click="dataS('#orderPayEndTime')" >
                             </div>
                             <div >
                                 <label class="bold">
                                     时间：
                                 </label>
                                 <input class="time orderShipmentsStartTime laydate-icon" id="orderShipmentsStartTime" ng-click="dataS('#orderShipmentsStartTime')" >&nbsp--&nbsp<input class="time orderShipmentsEndTime laydate-icon" id="orderShipmentsEndTime" ng-click="dataS('#orderShipmentsEndTime')" >
                             </div>
                         </div>
                         <div class="product_searchEara">
                             <input type="button" value="搜索" class="search_btn" ng-click="searchOrder()">
                         </div>
                     </div>
                     <div class="table_lis">
                         <div >
                             <a class="order_lis simulateBtn" ng-click="educeLis('代理管理','order_show','order_lis')">导出列表</a>
                         </div>
                         <table class="table  text-center " >
                             <thead>
                             <tr id="product_lis_title">
                                 <th class="text-center" >订单编号</th>
                                 <th class="text-center">昵称</th>
                                 <th class="text-center" >买家账号</th>
                                 <th class="text-center" >付款时间</th>
                                 <th class="text-center" >当前状态时间</th>
                                 <th class="text-center">状态</th>
                                 <th class="text-center">操作</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr ng-repeat="item in orderLis" class="pointer">
                                 <td >
                                     {{item.businessOrderId}}
                                 </td>
                                 <td>{{item.nickName}}</td>
                                 <td >{{item.mobile}}</td>
                                 <td >{{item.payDate|date:'yyyy-MM-dd'}}</td>
                                 <td >{{item.updateDate|date:'yyyy-MM-dd'}}</td>
                                 <td>{{item.status}}</td>
                                 <td>
                                     <a ui-sref="orderParticulars({id:item.businessOrderId})" class="orderBtn">详情</a>
                                     <!--<span ng-click="shipments(item.state,item.id)" class="orderBtn">发货</span></td>-->
                             </tr>

                             </tbody>
                         </table>
                         <div page-tool></div>
                         <!--发货-->
                       <!--  <div class="tracking_number_area" ng-show="shipmentsFlag" >
                             <P><label for="tracking_number"> 运单号:</label>
                                 <input type="text" id="tracking_number" class="indent_num"></P>
                             <P><input type="button" value="发货" class="tracking_btn" ng-click="tracking()"></P>
                         </div>-->
                         <!--退款-->
                       <!--  <div class="tracking_number_area refind" ng-show="refundFlag" >
                             <P><label for="tracking_number1"> 订单号:</label>
                                 <input type="text" id="tracking_number1" class="indent_num refund_num"></P>
                             <P><label for="tracking_number2"> 买家账号:</label>
                                 <input type="text" id="tracking_number2" class="indent_num refund_num"></P>
                             <P><label for="tracking_number3"> 金额:</label>
                                 <input type="text" id="tracking_number3" class="indent_num refund_num"></P>
                             <P ng-show="showFlag"><input type="button" value="退款" class="tracking_btn" ng-click="refundLast()"></P>
                             <P ng-show="hideFlag"><input type="button" value="退款1" class="tracking_btn" ng-click="salesReturnTrue()"></P>

                         </div>-->
                         <!--退货-->
                        <!-- <div class="tracking_number_area"  ng-show="salesReturnFlag">
                             <P><label for="trackingNumber"> 运单号:</label>
                                 <input type="text" id="trackingNumber" class="indent_num"></P>
                             <P><input type="button" value="退货" class="tracking_btn" ng-click="salesReturnTrue()"></P>
                         </div>-->

                     </div>
                 </div>
             </div>
             <div class="product_content_left"></div>
         </div>
     </div>
  </div>