
  <div>
     <enjoy-menu></enjoy-menu>
     <nav-bar index1="7"></nav-bar>
     <div class="main_content">
         <div class="content_box">
             <div class="product_content_right">
                 <div class="rightCenter">
                     <div class="register_content_newNumber longer">
                         <div class="register_content">
                             <div class="register_row">
                                 <span class="register_btn">账号</span>
                                 <input type="text" class="content">
                             </div>
                             <div class="register_row">
                                 <span class="register_btn">密码</span>
                                 <input type="text" class="content">
                             </div>
                             <div class="register_row">
                                 <span class="register_btn">再次确认</span>
                                 <input type="text" class="content">
                             </div>
                             <div class="register_row other">
                                 <input type="button" class="reset" value="权限 {{jurisdictionName}}" ui-sref="menu">
                             </div>
                             <div class="register_row other">
                                 <input type="button" class="reset" value="确定" ng-click="peopleTrue()">
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
             <div class="product_content_left">
                 <p><a class="btn_searchVoid " ui-sref="peopleAccounts">列表</a></p>
                 <p><a class="btn_searchVoid btn_active" ui-sref="peopleNewAccount">新增</a></p>
                 <p><a class="btn_searchVoid" ui-sref="menu">菜单</a></p>
             </div>
         </div>
     </div>
  </div>