<div>
    <enjoy-menu></enjoy-menu>
    <nav-bar></nav-bar>
    <div class="main_content">
        <div class="content_box">
            <div class="product_content_left">
                <a class="btn_back" ng-click="back()">返回</a>

            </div>
            <div class="product_content_right">
                <div class="rightCenter">
                    <div class="register_content_newNumber">
                        <div class="register_content">
                            <div class="register_row">
                                <span class="register_btn">新密码</span>
                                <input type="text" class="content">
                            </div>
                            <div class="register_row">
                                <span class="register_btn">现密码</span>
                                <input type="text" class="content">
                                <p class="check_mess">请核对密码</p>
                            </div>
                            <div class="register_row">
                                <span class="register_btn">再次确认</span>
                                <input type="text" class="content">
                                <p class="check_mess">请核对密码</p>
                            </div>
                            <div>
                                <button class="btn">确认</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>