<div class="bgBox">
    <div class="bg">
        <div class="register_box">
            <p class="userLogin">USER LOGIN</p>
            <div class="register_content">
                <div class="loginArea">
                    <p>
                        <img src="images/user.png">
                        <input type="text" ng-model="param.userAccount"> </p>
                    <p>
                        <img src="images/password.png">
                        <input type="password" ng-model="param.userPassword"> </p>
                </div>

                <div>
                    <button class="loginBtn" ng-click="login()">登 录</button>
                </div>
            </div>
        </div>
    </div>
</div>

