  <div ng-click="bgAll()">
     <enjoy-menu></enjoy-menu>
     <nav-bar index1="6" index2="63"></nav-bar>
     <div class="main_content">
         <div class="mum" ng-show="mum">
             <div class="m-load2">
                 <div class="line">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                 </div>
                 <div class="circlebg"></div>
             </div>
         </div>
         <div class="content_box">
             <div class="product_content_right">
                 <div class="rightCenter">
                     <div class="product_eara">
                         <div class="product_name">
                             <div class="product_nameEara">
                                 <label class="bold">手机OR身份证</label>
                                 <input type="text" class="product_search" ng-model="counnt">
                             </div>
                         </div>
                         <div class="product_name big time_box">
                             <div>
                                 <label class="bold" >
                                     申请时间：
                                 </label>
                                 <input class="time applyStartTime laydate-icon" id="applyStartTime" ng-click="dataS('#applyStartTime');$event.stopPropagation()" >&nbsp--&nbsp<input  class="time applyEndTime laydate-icon" id="applyEndTime" ng-click="dataS('#applyEndTime');$event.stopPropagation()" >
                             </div>
                             <div>
                                 <label class="bold" value="withdraw">
                                 提现时间：
                             </label>
                                 <input class="time updateStartTime laydate-icon-danlan" id="updateStartTime" ng-click="dataS('#updateStartTime');$event.stopPropagation()" >&nbsp--&nbsp<input class="time updateEndTime laydate-icon-danlan"  id="updateEndTime" ng-click="dataS('#updateEndTime');$event.stopPropagation()" >
                             </div>
                         </div>
                         <div class="product_searchEara">
                             <input type="button" value="搜索" ng-click="searchWithdraw();$event.stopPropagation()" class="search_btn">
                         </div>
                     </div>
                     <div class="table_lis">
                         <table class="table  text-center ">
                             <thead>
                             <tr id="product_lis_title">
                                 <th class="text-center" >交易号</th>
                                 <th class="text-center" >姓名</th>
                                 <th class="text-center" >手机号</th>
                                 <th class="text-center">银行卡号</th>
                                 <th class="text-center" >身份证</th>
                                 <th class="text-center">申请时间</th>
                                 <th class="text-center">提现时间</th>
                                 <th class="text-center" style="width:6%">提现</th>
                                 <th class="text-center">状态</th>
                             </tr>
                             </thead>
                             <tbody>
                             <tr  ng-repeat="item in withdraw">
                                 <td >
                                     {{item.withdrawId}}
                                 </td>
                                 <td>{{item.nickName}}</td>
                                 <td>{{item.mobile}}</td>
                                 <td>8347592374582658744</td>
                                 <td>{{item.identifyNumber}}</td>
                                 <td>{{item.createDate|date:'yyyy-MM-dd'}}</td>
                                 <td>{{item.updateDate|date:'yyyy-MM-dd'}}</td>
                                 <td>{{item.moneyAmount}}</td>
                                 <td ng-click="sendPrice(item.status,item.userAccountId,item.moneyAmount,item.id,item.sysUserId,item.moneyAmount);$event.stopPropagation()"><a class="orderBtn">{{item.status}}</a></td>
                             </tr>
                             </tbody>
                         </table>
                         <div class="priceArea" ng-show="flag" ng-click="viod();$event.stopPropagation()">
                             <p class="deposit"><label for="num">订单号：</label><input type="text" id="num"  ng-model="userAccountId" readonly="readonly"></p>
                             <p class="deposit"><label for="price">金额：</label><input type="text" id="price"  ng-model="moneyAmount" readonly="readonly"></p>
                             <p class="deposit"><button class="candel" ng-click="changeWithdraw(2)">拒绝</button><button class="true" ng-click="changeWithdraw(1)">确认</button></p>
                         </div>
                         <div page-tool></div>

                     </div>
                 </div>
            </div>

         </div>
     </div>
  </div>