<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}" >
  <!-- brand -->
  <a class="navbar-brand text-lt" style="font-size: 17px;">
    <i class="fa fa-btc"></i>
    <img src="img/logo.png" alt="." class="hide">
    <span class="hidden-folded m-l-xs">{{app.name}}</span>
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
  <!-- nabar right -->
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
        <span class="hidden-sm hidden-md">{{userInfo.nickname}}</span> <b class="caret"></b>
      </a>
      <!-- dropdown -->
      <ul class="dropdown-menu animated fadeInRight w">
          <li>
              <a ui-sref="access.newDepartment" ng-if="userInfo.userType=='管理员'">新建部门</a>
          </li>
          <li>
              <a ui-sref="access.newRole" ng-if="userInfo.userType=='管理员'">新建角色</a>
          </li>
          <li>
            <a ui-sref="access.newUser" ng-if="userInfo.userType=='管理员'">新建用户</a>
          </li>
          <li>
              <a ui-sref="access.userList" ng-if="userInfo.userType=='管理员'">用户列表</a>
          </li>
          <li>
              <a ui-sref="access.newUser({loginName:userInfo.loginName})" ng-if="userInfo.userType!='管理员'">修改信息</a>
          </li>
        <li class="divider"></li>
        <li>
          <a ng-click="loginOut()">退出登陆</a>
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
  </ul>
  <!-- / navbar right -->
</div>
<!-- / navbar collapse -->