<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美享99快时尚</title>
    <link rel="shortcut icon" href="images/title.ico" type="image/x-icon" />
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/swiper.min.css">
</head>
<body>
<div class="box">
    <div class="banner">
        <div class="nav">
            <div>
                <img src="images/logo.png">
                <ul class="navLis">
                    <li ><a href="#" class="bgColor" onclick="position(0)">首页</a></li>
                    <li><a href="#" class="bgColor" onclick="position(1)">美享商学院</a></li>
                    <li><a href="#"  class="bgColor" onclick="position(2)">美享商城</a></li>
                    <li><a href="#" class="bgColor" onclick="position(3)">异业合作</a></li>
                </ul>
            </div>
        </div>
        <div class="bannerPics">
            <div class="swiper-container center" >
                <div class="swiper-wrapper ">
                    <div class="swiper-slide "><img src="images/new.png" ></div>
                    <div class="swiper-slide " ><img src="images/class.png"></div>
                    <div class="swiper-slide " ><img src="images/child4D.jpg" ></div>
                    <div class="swiper-slide " ><img src="images/2.jpg" ></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="college">
        <div></div>
        <!--<div class="textIntroduce">

            <p>美享99商学院</p>
            <p>帮你打造线上+线下零售新模式</p>
            <p class="smallTitle">每天学习<span>5</span>分钟,<span>1</span>对<span>1</span>专属辅导</p>
        </div>-->
    </div>
    <div class="business">
        <div></div>
      <!--  <div class="textIntroduce">
            <p>美享99商城</p>
            <p class="smallTitle">一键分享,月入轻松过万</p>
        </div>-->
    </div>
    <div class="cooperation">
        <div class="textIntroduce">
            <p>异业合作，共创双赢</p>
            <p class="smallTitle">美享99携手4800家实体店，与您共赢</p>
        </div>
        <div class="share">
            <img src="images/share.jpg">
            <p>
                扫一扫，开启合作之旅
            </p>
        </div>
    </div>
</div>
</body>
<script src="js/libs/swiper.min.js"></script>
<script src="js/libs/jquery-1.11.1.min.js"></script>
<script src="js/style.js"></script>
</html>