<ion-view style="background: #f2f5f9">
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-close-empty" ng-click="moreInfoClose()"></button>
        <div class="h1 title">选择更多</div>
    </div>
    <div class="row" style="color:black;margin-top:25%">
        <div class="col" ng-click="educationVacation()">
            <center>
                <!--<i class="ion ion-folder" style="font-size:600%"></i>-->
                <img src="images/qingjia.png" style="width:64px;">
                <br>
                请假
            </center>
        </div>
        <div class="col">
            <center>
            </center>
        </div>
    </div>
</ion-view>