<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list">
            <a class="item" href="#" style="color:black">
                <p class="item-note">05-04&nbsp;9:00</p>
                <p><span style="font-weight:bold;font-size:18px">刘德华</span>&nbsp;&nbsp;高三2班</p>
                <p style="margin-top:10px">请假类型：&nbsp;&nbsp;&nbsp;&nbsp;事假</p>
                <p>请假原因：&nbsp;&nbsp;&nbsp;&nbsp;办理入学手续</p>
                <p>开始时间：&nbsp;&nbsp;&nbsp;&nbsp;05-06 8:00</p>
                <p>结束时间：&nbsp;&nbsp;&nbsp;&nbsp;05-06 20:00</p>
                <p>请假时长：&nbsp;&nbsp;&nbsp;&nbsp;12小时</p>
                <p>请假去向：&nbsp;&nbsp;&nbsp;&nbsp;回宿舍</p>
            </a>
        </div>
        <p style="margin-top:10px;margin-left:10%">
            <button class="button button-small button-light"
                    style="border-color:black;border-radius:20px;width:150px;color: blue;" ng-click="rejectVacation()">驳回</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button button-small button-light"
                    style="border-color:black;border-radius:20px;width:150px;color: blue;" ng-click="agreeVacation()">同意</button>
        </p>
    </ion-content>
</ion-view>