<ion-view style="background: #f2f5f9">
    <ion-content style="margin-top: -8px">
        <div class="list card" ng-repeat="item in [1,2]">
            <a class="item" href="#" style="color:black">
                <p class="item-note">05-04&nbsp;9:00</p>
                <p><span style="font-weight:bold;font-size:18px">刘德华</span>&nbsp;&nbsp;高三2班</p>
                <p style="margin-top:10px">请假类型：&nbsp;&nbsp;&nbsp;&nbsp;事假</p>
                <p>请假原因：&nbsp;&nbsp;&nbsp;&nbsp;办理入学手续</p>
                <p>开始时间：&nbsp;&nbsp;&nbsp;&nbsp;05-06 8:00</p>
                <p>结束时间：&nbsp;&nbsp;&nbsp;&nbsp;05-06 20:00</p>
                <img class="item-note" src="images/agree.png" style="margin-top:-80px;width: 30%;">
            </a>
        </div>
        <div class="list card">
            <a class="item" href="#" style="color:black">
                <p class="item-note">05-04&nbsp;9:00</p>
                <p><span style="font-weight:bold;font-size:18px">刘德华</span>&nbsp;&nbsp;高三2班</p>
                <p style="margin-top:10px">请假类型：&nbsp;&nbsp;&nbsp;&nbsp;事假</p>
                <p>请假原因：&nbsp;&nbsp;&nbsp;&nbsp;办理入学手续</p>
                <p>开始时间：&nbsp;&nbsp;&nbsp;&nbsp;05-06 8:00</p>
                <p>结束时间：&nbsp;&nbsp;&nbsp;&nbsp;05-06 20:00</p>
                <img class="item-note" src="images/reject.png" style="margin-top:-80px;width: 30%;">
            </a>
        </div>
    </ion-content>
</ion-view>