<ion-view class="commitMission">
    <div class="cm-title">
        老师已催缴任务，请尽快完成。
    </div>
    <ion-content style="margin-top:44px">
        <a class="item" style="color:dimgrey">
            <img src="images/time-icon.png" class="title-left-icon">
            <span class="font-size13">截止：{{missionEndDate | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
        </a>
        <div class="list" style="margin-top:6px">
            <a class="item" style="color:black">
                <span class="font-size16">说明</span>
            </a>
            <a class="item">
                <textarea placeholder="补充说明任务的完成情况" style="width:90%;height:200px;font-size: 14px" ng-model="input.desc"></textarea>
                <p class="item-note" style="color:lightgrey">(0/300)</p>
            </a>
            <a class="item">
                <p class="font-size16">附件</p>
                <img src="images/add-icon.png" class="cm-submit-icon"/>
            </a>
        </div>
        <center>
            <button class="button button-positive" style="margin-top:16px;width:300px;border-radius:20px" ng-click="submitMission()">提交</button>
        </center>
    </ion-content>
</ion-view>