<ion-view class="educationMoreInfo">
    <div class="emi-title">
        选择更多
    </div>
    <div class="emi">
        <div class="emi-item" ng-click="educationVacation()">
            <div class="emi-i-icon">
                <img src="images/qingjia.png"/>
            </div>
            <div class="emi-i-text">请假</div>
        </div>
        <div class="emi-item" ng-click="studentChooseCourse()">
            <div class="emi-i-icon">
                <img src="images/xuanke.png"/>
            </div>
            <div class="emi-i-text">选课</div>
        </div>
        <div class="emi-item" ng-click="goJiaxiaoTong()">
            <div class="emi-i-icon">
                <img src="images/rrt.png"/>
            </div>
            <div class="emi-i-text">家校通</div>
        </div>
    </div>
    <div class="emi">
        <div class="emi-item" ng-click="goRenRenTong()">
            <div class="emi-i-icon">
                <img src="images/hbb.png"/>
            </div>
            <div class="emi-i-text">人人通</div>
        </div>
        <div class="emi-item" ng-click="studentChooseCourse()">
            <div class="emi-i-icon">
                <img src="images/cjfx.png"/>
            </div>
            <div class="emi-i-text">黑板报</div>
        </div>
        <div class="emi-item" ng-click="studentChooseCourse()">
            <div class="emi-i-icon">
                <img src="images/cjfx-icon.png"/>
            </div>
            <div class="emi-i-text">成绩分析</div>
        </div>
    </div>
</ion-view>