<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list card" style="color:black">
            <a class="item">
                <span class="item-note">
                    <span>剩余名额</span>
                    <span>32</span>
                    <span>名</span>
                </span>
                <span style="font-weight:bold">语文</span>
            </a>
            <a class="item">
                <div class="row" style="text-align: center">
                    <div class="col">
                        <span>20</span>
                        <br>
                        <span style="color: #9b9b9b">课时</span>
                    </div>
                    <div class="col">
                        <span>2</span>
                        <br>
                        <span style="color: #9b9b9b">学分</span>
                    </div>
                    <div class="col">
                        <span>李洪磊</span>
                        <br>
                        <span style="color: #9b9b9b">教师</span>
                    </div>
                </div>
            </a>
            <a class="item" style="word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden;color: #9b9b9b">认识中华文化的丰厚博大，吸收民族文化智慧。关心当代文化生活，尊重多样文化，吸取人类优秀文化的营养
            </a>
            <button class="item-note button button-small"
                    style="margin-top:15px;margin-right:15px;width:100px;border-radius:20px;margin-bottom:10px;color: #ffffff;background-color: #2062f6">我要选择</button>
        </div>
        <div class="list card" style="color:black">
            <a class="item">
                <span class="item-note">
                    <span>剩余名额</span>
                    <span>12</span>
                    <span>名</span>
                </span>
                <span style="font-weight:bold">数学</span>
            </a>
            <a class="item">
                <div class="row" style="text-align: center">
                    <div class="col">
                        <span>20</span>
                        <br>
                        <span style="color: #9b9b9b">课时</span>
                    </div>
                    <div class="col">
                        <span>2</span>
                        <br>
                        <span style="color: #9b9b9b">学分</span>
                    </div>
                    <div class="col">
                        <span>陈佳科</span>
                        <br>
                        <span style="color: #9b9b9b">教师</span>
                    </div>
                </div>
            </a>
            <a class="item" style="word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden;color: #9b9b9b">数学被使用在世界上不同的领域上，包括科学、工程、医学和经济学等。数学对这些领域的应用通常被称为应用数学，有时亦会激起新的数学发现，并导致全新学科的发展
            </a>
            <button class="item-note button button-small"
                    style="margin-top:15px;margin-right:15px;width:100px;border-radius:20px;margin-bottom:10px;color: #ffffff;background-color: #2062f6">取消选择</button>
        </div>
        <a class="item">
            <center>
                <button class="button button-small button-positive" style="width:80%;border-radius:20px" ng-click="goStudentChooseCourse()">完成</button>
            </center>
        </a>
    </ion-content>
</ion-view>