<div>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<div style="position: absolute;
					z-index: 100;
					background: #04c;;
					height: 100%;
					width: 100%;"
		 ng-if="gamePlaceId=='none'">
		<center>
			<div style="margin-top: 400px;">
				<span style="font-size: 50px;">请输入赛场ID号</span>
				<input placeholder="赛场ID" style="height:50px;color:black;font-size:30px" type="password" ng-model="param.inputGamePlaceId">
				<button ng-click="confirmGamePlace()" style="font-size: 45px;
																	background: red;
																	border-radius: 50px;
																	width: 155px;">确定</button>
			</div>
		</center>
	</div>
	<div class="layui-container host-container">
		<!--header开始-->
		<div class="layui-row host-header">
			<div class="layui-col-md2 host-header-slide">
				<div class="layui-row host-header-logo">
					<img src="images/host/header-logo.png" />
				</div>
				<div class="layui-row host-header-player-info">
					玩家信息
				</div>
			</div>
			<div class="layui-col-md8 host-header-main">
				<img src="images/host/header-main.png" />
			</div>
			<div class="layui-col-md2 host-header-slide slide-right">
				<div class="layui-row host-header-logo">
					<img src="images/host/header-logo.png" style="margin-left:145px"/>
				</div>
				<div class="layui-row host-header-player-info">
					玩家信息
				</div>
			</div>
		</div>
		<!--header结束-->
		<!--content-->
		<div class="layui-row host-content">
			<div class="layui-col-md3 host-slide-container">
				<!--玩家信息状态开始-->
				<div class="layui-row host-slide" ng-repeat="item in param.bluePartRobotList">
					<div ng-repeat="item3 in param.robotUserList" ng-if="item.deviceId==item3.robotId">
						<!--{{item3}}-->
						<div class="layui-col-md5">
							<div class="mecha-item-photo host-item-photo">
								<!--死亡后图片和边框 增加gray样式-->
								<!--<img src="images/host/player-01.png" />-->
								<img ng-src="{{item3.value.headimgurl}}" />
								<!--蓝队边框颜色-->
								<img class="badge-border" src="images/host/badge-border-blue.png" />
							</div>
							<div class="host-item-text" ng-repeat="item2 in param.robotDeadList" ng-if="item2.deviceId==item.deviceId">昏厥次数：{{item2.value}}</div>
						</div>
						<div class="layui-col-md7">
							<!--根据玩家状态展示对应内容-->
							<div ng-if="!startGame" class="host-waiting">等待玩家进入……</div>
							<div ng-if="startGame">
								<!--蓝队边框颜色-->
								<img src="images/host/grade-1-blue.png" />
								<div class="host-item-name" style="font-size: 30px">{{item3.value.nickname}}</div>
								<!--进度条百分比显示 为红色时，增加layui-bg-red样式-->
								<div class="layui-progress host-item-bar">
									<div class="layui-progress-bar layui-bg-red" lay-percent="100%"></div>
								</div>
								<div class="host-item-barNum" ng-repeat="item1 in param.robotDamageList"
									 ng-if="item1.deviceId==item.deviceId">{{item1.value}}/{{param.gameParam.maxHP}}</div>
								<!--根据玩家状态显示对应内容-->
								<div ng-if="startGame" class="host-item-state" style="position:absolute;font-size:30px">准备就绪</div>
								<div ng-if="!startGame" class="host-item-state layui-anim layui-anim-fadein layui-anim-loop">准备中</div>
								<!--玩家共4个状态，ion-normal ion-faint ion-invincible ion-leave-->
								<div ng-if="startGame" class="host-item-icon" style="margin-top: -10px"><i class="state-icon ion-normal"></i>正常</div>
							</div>
						</div>
					</div>
				</div>
				<!--玩家信息状态结束-->
			</div>
			<div class="layui-col-md6 host-center">
				<!--显示其对应内容-->
				<div ng-if="!start" class="host-ready">
					机甲争霸-足球 欢迎您的加入<br />乐趣即将开启
				</div>
				<!--页面倒计时-->
				<div ng-if="start && start1" class="host-count-bg">
					<div class="host-count-num">{{hostCount}}</div>
				</div>
				<!--比分显示-->
				<div ng-if="startGame" class="host-score-container">
					<div class="host-score-title">进球比分</div>
					<div class="layui-row host-score-numbg">
						<div class="layui-col-md6">
							<div class="host-score-num">{{param.blueGoal}}</div>
							<div>队伍总击晕：{{param.blueTotalDead}}</div>
						</div>
						<div class="layui-col-md6">
							<div class="host-score-num">{{param.redGoal}}</div>
							<div>队伍总击晕：{{param.redTotalDead}}</div>
						</div>
					</div>
					<!--时间显示-->
					<div class="layui-row host-score-timebg">
						<div class="layui-col-md6" style="font-size: 82px;margin-left: 200px;">{{param.gameTime}}</div>
						<!--<div class="layui-col-md6">{{param.gameTime}}</div>-->
					</div>
				</div>
			</div>
			<div class="layui-col-md3 host-slide-container">
				<div class="layui-row host-slide" ng-repeat="item in param.redPartRobotList">
					<div ng-repeat="item3 in param.robotUserList" ng-if="item.deviceId==item3.robotId">
						<!--{{item3}}-->
						<div class="layui-col-md7">
							<div ng-if="!startGame" class="host-waiting">等待玩家进入……</div>
							<div ng-if="startGame">
								<img src="images/host/grade-1-red.png" />
								<div class="host-item-name">{{item3.value.nickname}}</div>
								<div class="layui-progress host-item-bar">
									<div class="layui-progress-bar" lay-percent="100%"></div>
								</div>
								<div class="host-item-barNum" ng-repeat="item1 in param.robotDamageList"
									 ng-if="item1.deviceId==item.deviceId">{{item1.value}}/{{param.gameParam.maxHP}}</div>
								<div ng-if="startGame" class="host-item-state" style="position:absolute;font-size: 30px">准备就绪</div>
								<div ng-if="!startGame" class="host-item-state layui-anim layui-anim-fadein layui-anim-loop">准备中</div>
								<div ng-if="startGame" class="host-item-icon" style="margin-top: -10px"><i class="state-icon ion-invincible"></i>正常</div>
							</div>
						</div>
						<div class="layui-col-md5">
							<div class="mecha-item-photo host-item-photo">
								<img ng-src="{{item3.value.headimgurl}}" />
								<img class="badge-border" src="images/host/badge-border-red.png" />
							</div>
							<div class="host-item-text" ng-repeat="item2 in param.robotDeadList" ng-if="item2.deviceId==item.deviceId">昏厥次数：{{item2.value}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--游戏结束start-->
	<div ng-if="param.gameOver=='true'" class="game-over-shade">
		<div class="layui-container game-over-container">
			<div class="layui-row">
				<div class="game-over-title" ng-if="gamePartWinResult.gameResultValue=='redPartWin'">
					红队胜利！
				</div>
				<div class="game-over-title" ng-if="gamePartWinResult.gameResultValue=='bluePartWin'">
					蓝队胜利！
				</div>
				<div class="game-over-title" ng-if="gamePartWinResult.gameResultValue=='noPartWin'">
					双方战平！
				</div>
				<!--比分-->
				<div class="layui-row game-over-score-numbg">
					<div class="layui-col-md6">
						<div class="game-over-score-num">
							<span style="font-size:30px">蓝队：</span>
							<span>{{param.blueGoal}}</span>
						</div>
						<div>队伍总击晕：{{param.blueTotalDead}}</div>
					</div>
					<div class="layui-col-md6">
						<div class="game-over-score-num">
							<span style="font-size:30px">红队：</span>
							<span>{{param.redGoal}}</span>
						</div>
						<div>队伍总击晕：{{param.redTotalDead}}</div>
					</div>
				</div>
				<!--玩家头像-->
				<div class="layui-row game-over-player">
					<div class="layui-col-md3" ng-repeat="item in param.redPartRobotList" ng-if="gamePartWinResult.gameResultValue=='redPartWin'">
						<div class="mecha-item-photo host-item-photo" ng-repeat="item1 in param.robotUserList" ng-if="item1.robotId==item.deviceId">
							<img ng-src="{{item1.value.headimgurl}}" />
							<img class="badge-border" src="images/host/badge-border-red.png" />
						</div>
						<div class="host-item-name" ng-repeat="item1 in param.robotUserList" ng-if="item1.robotId==item.deviceId">{{item1.value.nickname}}</div>
					</div>
					<div class="layui-col-md3" ng-repeat="item in param.bluePartRobotList" ng-if="gamePartWinResult.gameResultValue=='bluePartWin'">
						<div class="mecha-item-photo host-item-photo" ng-repeat="item1 in param.robotUserList" ng-if="item1.robotId==item.deviceId">
							<img ng-src="{{item1.value.headimgurl}}" />
							<img class="badge-border" src="images/host/badge-border-red.png" />
						</div>
						<div class="host-item-name" ng-repeat="item1 in param.robotUserList" ng-if="item1.robotId==item.deviceId">{{item1.value.nickname}}</div>
					</div>
					<div class="layui-col-md3" ng-repeat="item in param.robotUserList" ng-if="gamePartWinResult.gameResultValue=='noPartWin'">
						<div class="mecha-item-photo host-item-photo">
							<img ng-src="{{item.value.headimgurl}}" />
							<img class="badge-border" src="images/host/badge-border-red.png" />
						</div>
						<div class="host-item-name" ng-repeat="item1 in param.robotUserList" ng-if="item1.robotId==item.deviceId">{{item1.value.nickname}}</div>
					</div>
				</div>
			</div>
			<!--<div class="layui-row">-->
				<!--<div class="game-over-title" ng-if="param.gameResult[param.gameParam.gamePlaceId]=='redPartWin'">-->
					<!--红队胜利！-->
				<!--</div>-->
				<!--<div class="game-over-title" ng-if="param.gameResult[param.gameParam.gamePlaceId]=='bluePartWin'">-->
					<!--蓝队胜利！-->
				<!--</div>-->
				<!--<div class="game-over-title" ng-if="param.gameResult[param.gameParam.gamePlaceId]=='noPartWin'">-->
					<!--双发战平！-->
				<!--</div>-->
				<!--&lt;!&ndash;玩家头像&ndash;&gt;-->
				<!--<div class="layui-row game-over-player" ng-repeat="item in param.robotUserList">-->
					<!--<div class="layui-col-md3">-->
						<!--<div class="mecha-item-photo host-item-photo">-->
							<!--<img ng-src="{{item.value.headimgurl}}" />-->
							<!--<img class="badge-border" src="images/host/badge-border-red.png" />-->
						<!--</div>-->
						<!--<div class="host-item-name">{{item.value.nickname}}</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--&lt;!&ndash;比分&ndash;&gt;-->
				<!--<div class="layui-row game-over-score-numbg">-->
						<!--<div class="layui-col-md6">-->
							<!--<div class="game-over-score-num">{{param.redGoal}}</div>-->
							<!--<div>队伍总击晕：{{param.redTotalDead}}</div>-->
						<!--</div>-->
						<!--<div class="layui-col-md6">-->
						<!--<div class="game-over-score-num">{{param.blueGoal}}</div>-->
						<!--<div>队伍总击晕：{{param.blueTotalDead}}</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
</div>
