<div>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--头部导航开始-->
	<div style="position: absolute;
					z-index: 100;
					background: #04c;;
					height: 100%;
					width: 100%;"
	    ng-if="gamePlaceId=='none'">
		<center>
			<div style="margin-top: 400px;">
				<span style="font-size: 50px;">请输入赛场ID号</span>
				<input placeholder="赛场ID" style="height:50px;color:black;font-size:30px" type="password" ng-model="param.inputGamePlaceId">
				<button ng-click="confirmGamePlace()" style="font-size: 45px;
																	background: red;
																	border-radius: 50px;
																	width: 155px;">确定</button>
			</div>
		</center>
	</div>
	<div class="layui-fluid mecha-header">
		<div class="layui-row layui-container">
			<h1 class="layui-col-md1">
				<img src="images/control/logo-white.png" alt="" />
			</h1>
			<ul class="layui-nav layui-col-md10">
				<li class="layui-nav-item" ng-class="{true:'layui-this'}[pageType == 'controlPage']">
					<a href="javascript:;" ng-click="control()">赛场控制</a>
				</li>
				<li class="layui-nav-item" ng-class="{true:'layui-this'}[pageType == 'rulePage']">
					<a href="javascript:;" ng-click="rule()">规则设置</a>
				</li>
			</ul>
			<div class="layui-col-md1 mecha-quit" ng-click="quit()">
				<i class="iconfont icon-dianyuan"></i>退出
			</div>
		</div>
	</div>
	<!--头部导航结束-->
	<div class="layui-container">
		<div ng-show="pageType == 'controlPage'">
			<div class="layui-row mecha-control">
				<!--赛场比分开始-->
				<div class="layui-col-md4 game-info">
					<div class="layui-row">
						<div class="layui-col-md7 game-info-left">
							<h3 class="game-info-tit">比赛类型：机甲足球</h3>
							<div class="game-info-score">
								<span class="layui-badge-dot game-info-dotl"></span>
								<b>{{param.blueGoal}}:{{param.redGoal}}</b>
								<span class="layui-badge-dot game-info-dotr"></span>
							</div>
							<p class="game-info-time">游戏剩余时间：<span>{{param.gameTime}}</span></p>
						</div>
						<div class="layui-col-md5 game-info-right layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label">选择赛制</label>
								<div class="layui-input-block">
									<select name="">
										<option value="1">1 VS 1</option>
										<option value="2">2 VS 2</option>
										<option value="3">3 VS 3</option>
									</select>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">获胜分数</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">游戏进程</label>
								<div class="layui-input-block">
									预留位
								</div>
							</div>
							<!--按需求显示对应按钮-->
							<button ng-if="param.gameStatus!='ongoing'"
									class="layui-btn layui-btn-normal game-start-btn" ng-click="clickStartGame()">开始游戏</button>
							<button ng-if="param.gameStatus=='ongoing'" class="layui-btn layui-btn-normal game-start-btn">游戏进行中</button>
							<button ng-if="param.gameStatus=='ongoing'" class="layui-btn layui-btn-normal game-start-btn" ng-click="clickEndGame()">结束游戏</button>
							<button ng-if="param.gameStatus!='ongoing'" class="layui-btn layui-btn-normal">游戏未开始</button>
						</div>
					</div>
				</div>
				<!--赛场比分结束-->
				<!--场地ID开始-->
				<div class="layui-col-md4 mg-lr game-message">
					<div>场地ID：CD100009</div>
					<ul class="game-message-list">
						<!--绿色显示添加success样式>
                    <!--黄色显示添加warning样式-->
						<!--注意样式对应的iconfont内容-->
						<li><i class="layui-icon">&#xe611;</i>2018-2-9 09:23:18 游戏开始倒计时</li>
						<li><i class="layui-icon">&#xe611;</i>2018-2-9 09:23:18 游戏开始倒计时</li>
						<li class="success"><i class="layui-icon">&#xe616;</i>2018-2-9 09:23:43 红方胜利</li>
						<li><i class="layui-icon">&#xe611;</i>2018-2-9 09:23:18 游戏开始倒计时</li>
						<li class="success"><i class="layui-icon">&#xe616;</i>2018-2-9 09:23:43 红方胜利</li>
						<li class="warning"><i class="layui-icon">&#x1007;</i>2018-2-9 09:23:57 机器人1 电量低，请及时更换！</li>
					</ul>
				</div>
				<!--场地ID结束-->
				<!--场地设备开始-->
				<div class="layui-col-md4 game-place">
					<div class="layui-row">
						<div class="layui-col-md11">
							场地设备ID：C20008
						</div>
						<div class="layui-col-md1">
							<ul class="layui-nav mecha-item-nav">
								<li class="layui-nav-item">
									<a href="javascript:;">
										<i class="layui-icon">&#xe614;</i>
									</a>
									<dl class="layui-nav-child">
										<dd>
											<a href="javascript:;" ng-click="restart()">重启</a>
										</dd>
										<dd>
											<a href="javascript:;" ng-click="close()">关机</a>
										</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
					<ul class="game-place-list">
						<!--正常状态添加ion-correct样式-->
						<!--异常状态添加icon-wrong样式-->
						<!--注意样式对应的icon文本内容-->
						<li><i class="layui-icon ion-correct">&#xe618;</i>球门1：状态正常</li>
						<li><i class="layui-icon ion-wrong">&#x1006;</i>球门1：状态异常</li>
						<li><i class="layui-icon ion-correct">&#xe618;</i>球门1：状态正常</li>
					</ul>
				</div>
				<!--场地设备结束-->
			</div>
			<div class="layui-row">
				<div class="layui-row mecha-floor">
					<div class="layui-col-md3 mecha-army-badge">
						<img src="images/control/badge-blue.png" alt="" />
						<div class="mecha-army-badge-team">蓝方队伍</div>
						<p>进球数&nbsp;{{param.blueGoal}}</p>
						<p>总眩晕&nbsp;{{param.blueTotalDead}}</p>
						<p>承受总伤害&nbsp;{{param.blueTotalDamage}}</p>
					</div>
					<!--机位展示开始-->
					<div class="layui-col-md3 mecha-item" ng-repeat="item in param.bluePartCarList">
						<ul class="layui-nav mecha-item-nav">
							<li class="layui-nav-item">
								<a href="javascript:;">{{item.deviceId}}号位</a>
								<dl class="layui-nav-child">
									<dd>
										<a href="javascript:;" ng-click="join()">{{playerJoin}}玩家加入</a>
									</dd>
									<dd>
										<a href="javascript:;" ng-click="restart()">重启</a>
									</dd>
									<dd>
										<a href="javascript:;" ng-click="close()">关机</a>
									</dd>
								</dl>
							</li>
						</ul>
						<div class="layui-row">
							<div class="layui-col-md3">
								<div class="mecha-item-photo">
									<!--死亡后图片和边框 增加gray样式-->
									<img class="gray" src="images/control/mecha-01.png" alt="" />
									<!--蓝队边框颜色-->
									<img class="badge-border gray" src="images/control/badge-border-blue.png" alt="" />
								</div>
							</div>
							<div class="layui-col-md8 mecha-item-info" ng-repeat="item1 in param.carDamageList" ng-if="item1.deviceId==item.deviceId">
								<div class="mecha-item-name">梦幻战士</div>
								<div>ID:{{item1.deviceId}}</div>
								<div class="layui-row">
									<div class="layui-col-md7 mecha-item-bar">
										<div class="layui-progress">
											<!--血量百分制，为红色时，增加layui-bg-red样式-->
											<div class="layui-progress-bar" lay-percent="{{item1.value/param.gameParam.maxHP}}%"></div>
										</div>
									</div>
									<div class="layui-col-md3">
										{{item1.value}}/{{param.gameParam.maxHP}}
									</div>
								</div>
							</div>
						</div>
						<div class="layui-row mecha-player" ng-repeat="item2 in param.carUserList" ng-if="item2.carId==item.deviceId">
							<div class="layui-col-md3">
								<div class="mecha-item-photo">
									<img ng-src="{{item2.value.headimgurl}}" />
									<img class="badge-border" src="images/control/badge-border-blue.png" />
								</div>
							</div>
							<div class="layui-col-md8 mecha-item-info">
								<div class="layui-row">
									<div class="layui-col-md7">
										<div class="mecha-item-name">{{item2.value.nickname}}</div>
										<div>{{item2.value.province+item2.value.city}}</div>
									</div>
									<div class="layui-col-md5">
										<img src="images/control/grade-3-blue.png" />
									</div>
								</div>
							</div>
						</div>
						<!--根据游戏状态增加对应的样式-->
						<!--无敌 state-invincible，掉线state-leave-->
						<div class="mecha-state">
							机甲状态：游戏中正常
							<!--踢除按钮是否显示-->
							<button ng-if="true" class="layui-btn layui-btn-normal mecha-rid-btn">踢除</button>
						</div>
						<!--右上角电池显示，电量百分制-->
						<!--低电量时增加red样式，子元素progress增加layui-bg-red样式-->
						<!--电池闪烁增加layui-anim layui-anim-fadein layui-anim-loop样式-->
						<!--高电量时增加green样式，子元素progress去除layui-bg-red样式-->
						<div class="battery red layui-anim layui-anim-fadein layui-anim-loop">
							<span></span>
							<div class="layui-progress">
								<div class="layui-progress-bar layui-bg-red" lay-percent="30%"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row mecha-floor">
					<div class="layui-col-md3 mecha-army-badge">
						<img src="images/control/badge-red.png" alt="" />
						<div class="mecha-army-badge-team">红方队伍</div>
						<p>进球数&nbsp;{{param.redGoal}}</p>
						<p>总眩晕&nbsp;{{param.redTotalDead}}</p>
						<p>承受总伤害&nbsp;{{param.redTotalDamage}}</p>
					</div>
					<!--机位展示开始-->
					<div class="layui-col-md3 mecha-item" ng-repeat="item in param.redPartCarList">
						<ul class="layui-nav mecha-item-nav">
							<li class="layui-nav-item">
								<a href="javascript:;">{{item.deviceId}}号位</a>
								<dl class="layui-nav-child">
									<dd>
										<a href="javascript:;">禁止玩家加入</a>
									</dd>
									<dd>
										<a href="javascript:;">重启</a>
									</dd>
									<dd>
										<a href="javascript:;">关机</a>
									</dd>
								</dl>
							</li>
						</ul>
						<div class="layui-row">
							<div class="layui-col-md3">
								<div class="mecha-item-photo">
									<img src="images/control/mecha-04.png" alt="" />
									<img class="badge-border" src="images/control/badge-border-red.png" alt="" />
								</div>
							</div>
							<div class="layui-col-md8 mecha-item-info" ng-repeat="item1 in param.carDamageList" ng-if="item1.deviceId==item.deviceId">
								<div class="mecha-item-name">风暴战士</div>
								<div>ID:{{item1.deviceId}}</div>
								<div class="layui-row">
									<div class="layui-col-md7 mecha-item-bar">
										<div class="layui-progress">
											<div class="layui-progress-bar layui-bg-red" lay-percent="{{item1.value/param.gameParam.maxHP}}%"></div>
										</div>
									</div>
									<div class="layui-col-md3">
										{{item1.value}}/{{param.gameParam.maxHP}}
									</div>
								</div>
							</div>
						</div>
						<div class="layui-row mecha-player" ng-repeat="item2 in param.carUserList" ng-if="item2.carId==item.deviceId">
							<div class="layui-col-md3">
								<div class="mecha-item-photo">
									<img ng-src="{{item2.value.headimgurl}}" />
									<img class="badge-border" src="images/control/badge-border-red.png" />
								</div>
							</div>
							<div class="layui-col-md8 mecha-item-info">
								<div class="layui-row">
									<div class="layui-col-md7">
										<div class="mecha-item-name">{{item2.value.nickname}}</div>
										<div>{{item2.value.province+item2.value.city}}</div>
									</div>
									<div class="layui-col-md5">
										<img src="images/control/grade-3-red.png" />
									</div>
								</div>
							</div>
						</div>
						<div class="mecha-state">
							机甲状态：游戏中正常
							<button class="layui-btn layui-btn-normal mecha-rid-btn">踢除</button>
						</div>
						<div class="battery red">
							<span></span>
							<div class="layui-progress">
								<div class="layui-progress-bar layui-bg-red" lay-percent="30%"></div>
							</div>
						</div>
					</div>
					<!--机位展示结束-->
				</div>
			</div>
		</div>
		<div ng-show="pageType == 'rulePage'">
			<!--游戏规则开始-->
			<form class="layui-form rule-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">最长游戏时间</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.maxTime" ng-change="changeNum()">
						&nbsp;秒
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">选择赛制</label>
					<div class="layui-input-block">
						<select name="" lay-verify="required" ng-model="data.gameSystem" ng-change="changeNum()">
							<option value="1">1VS1</option>
							<option value="2">2VS2</option>
							<option value="3">3VS3</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">获胜进球数</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.winNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">最大游戏参与人数</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.gameMaxNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">蓝方最大参与人数</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.blueMaxNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">红方最大参与人数</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.redMaxNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">总血量</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.bloodNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">晕厥时间</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.faintTime" ng-change="changeNum()">
						毫秒
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">无敌时间</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.invincibleTime" ng-change="changeNum()">
						毫秒
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">1号部位伤害值</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.oneNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">2号部位伤害值</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.twoNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">3号部位伤害值</label>
					<div class="layui-input-block">
						<input type="text" name="" required lay-verify="required" autocomplete="off" class="layui-input" ng-model="data.threeNum" ng-change="changeNum()">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn mecha-btn-normal" ng-class="{true:'layui-btn-disabled'}[!revampNum]" ng-click="submit()">确认修改</button>
						<button type="button" class="layui-btn layui-btn-primary" ng-class="{true:'layui-btn-disabled'}[!revampNum]" ng-click="restore()">放弃修改</button>
					</div>
				</div>
			</form>
			<!--游戏规则结束-->
		</div>
	</div>
</div>
