<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = true;
  ">
  <div class="wrapper-md" ng-controller="StatisticCtrl">
    <div class="row">

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
              <div style="margin-left:2%">
                <i class="glyphicon glyphicon-stats icon text-primary-dker" style="font-size:35px;top: 20px"></i>
                <div style="margin-left:50px;margin-top: -35px">
                  <span>最新统计数据</span>
                  <br>
                  <span style="font-size:30px">124,345</span>
                  <br>
                  <i class="glyphicon glyphicon-arrow-down icon" style="color: red"></i>
                  <span style="color: red">10%</span>
                  <span>同比上周</span>
                </div>
              </div>
              <div style="margin-left: 18%;
                          position: absolute;
                          margin-top: -85px;">
                <span style="font-size:50px">|</span>
              </div>
              <div style="margin-left:24%;margin-top:-80px;">
                <span>全港吞吐量</span>
                <br>
                <span style="font-size:30px">1200</span>
                <br>
                <i class="glyphicon glyphicon-arrow-up icon" style="color: green"></i>
                <span style="color: green">10%</span>
                <span>同比上周</span>
              </div>
              <div style="margin-left:40%;margin-top:-82px;">
                <span>高速车流量</span>
                <br>
                <span style="font-size:30px">680万辆</span>
                <br>
                <i class="glyphicon glyphicon-arrow-up icon" style="color: green"></i>
                <span style="color: green">26%</span>
                <span>同比上周</span>
              </div>
              <div style="margin-left:54%;margin-top:-82px;">
                <span>全市泊位</span>
                <br>
                <span style="font-size:30px">16324</span>
                <br>
                <i class="glyphicon glyphicon-arrow-down icon" style="color: red"></i>
                <span style="color: red">10%</span>
                <span>同比上周</span>
              </div>
              <div style="margin-left:68%;margin-top:-82px;">
                <span>智慧公交运营车辆（辆）</span>
                <br>
                <span style="font-size:30px">1200</span>
                <br>
                <i class="glyphicon glyphicon-arrow-up icon" style="color: green"></i>
                <span style="color: green">26%</span>
                <span>同比上周</span>
              </div>
              <div style="margin-left:82%;margin-top:-82px;">
                <span>城区站场视频监控（个）</span>
                <br>
                <span style="font-size:30px">680</span>
                <br>
                <i class="glyphicon glyphicon-arrow-down icon" style="color: green"></i>
                <span style="color: green">26%</span>
                <span>同比上周</span>
              </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <span style="font-size:20px">高速公路流量观测</span>
              </div>
              <div class="col-md-8">
<!--                <span>查询月份</span>-->
                <div class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
                         datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">col-lg-6</div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">col-lg-12</div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-body">col-lg-6</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body">col-lg-6</div>
        </div>
      </div>

    </div>
  </div>

</div>