<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list">
            <a class="item" ng-click="goSafety()">
                <p class="item-note">></p>
                <p><i class="ion ion-android-lock"></i>&nbsp;&nbsp;账号与安全</p>
            </a>
        </div>
        <div class="list">
            <a class="item" ng-click="goAbout()">
                <p class="item-note">></p>
                <p><i class="ion ion-information-circled"></i>&nbsp;&nbsp;关于我们</p>
            </a>
            <a class="item">
                <p class="item-note">></p>
                <p><i class="ion ion-ios-redo"></i>&nbsp;&nbsp;邀请朋友加入</p>
            </a>
            <a class="item">
                <p><i class="ion ion-help-circled"></i>&nbsp;&nbsp;问题与反馈</p>
            </a>
        </div>
        <div class="list">
            <a class="item" style="color:black;text-align:center" ng-click="goExit()">
               退出登录
            </a>
        </div>

        <br><br><br><br>
    </ion-content>
</ion-view>