<ion-view class="aboutOur">
    <ion-content>
        <div class="list">
            <a class="item" ng-repeat="item in [1,2,3,4,5,6]"  ng-click="goSchoolNewsDetail()">
                <p style="font-weight: bold;word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden">习近平召开关于普教深化改革小组会议，如何规划好每个孩子一生。</p>
                <p class="item-note">2018-01-19</p>
                <p>育湖中央研究院</p>
            </a>
        </div>
    </ion-content>
</ion-view>