<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="item" style="color:black;word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden;height:75px">满分作文《写给2035年的你》</div>
        <div class="item" style="font-size:13px">
            2018-01-19&nbsp;&nbsp;&nbsp;&nbsp;育湖中央研究院
        </div>
        <div class="item" style="color:black;word-break:normal;width:auto;display:block;
                            white-space:pre-wrap;word-wrap: break-word;overflow: hidden">
        亲爱的朋友：
        你好！
        此刻读信的你，或许正同写信的我一样，冥思苦想，奋战着高考语文的最后一题。摆在我们面前的，都只有一份试卷、一支钢笔。但窗外的点点滴滴，早已翻天覆地。18岁的我，正跟随广大人民的脚步，迈向全面建成小康社会的新时期；18岁的你，已在社会主义现代化国家的土地上茁壮成长。
        我今年18岁，刚刚跨过成年的关键期。遥想当年，我踏着二十一世纪的鼓点呱呱坠地。牙牙学语之时，朦胧地看见日历上“2000”这个整齐漂亮的数字，听着耳边“龙宝宝”“千禧宝宝”的啧啧称赞，我不明白它们的含义，却能清晰地感觉到：我，我们这一代，被时代寄予厚望。我们这一代人的成长与国家的发展有着与生俱来的紧密联系，国家与时代给了我们“龙宝宝”“千禧宝宝”使命与责任，我们要为国家发展，民族的复兴贡献力量。
        你想知道从我出生到写这封信以来的这十几年里，中国发生了什么事情？自2003年我们的党和国家带领人民走出“非典”肆虐的阴霾，让我们更加明白了多难兴邦的道理，更体现了中华民族在困难面前的不屈不挠的韧劲。之后，我们共同参与到北京奥运会、广州亚运会的筹备工作当中，也曾为汶川地震的灾区同胞献出绵薄之力。不瞒你说，我还是亚运会小志愿者呢！在基本完成了城市的环境保护、转型升级之后，党和国家将工作重心转移到农村。从“村村通”全覆盖到全部农村贫困人口稳定脱贫，展现出质的改变。现在你终于明白，为什么乡村人民富起来了，小康社会得以全面建成了吧？
        当然，你要意识到，任何时代的社会形态都会存在一定的漏洞。就拿你走在大街上随处可见的互联网元素来说吧。我想起2007年，当我还只知道用鼠标点“e”标志就可以上网看新闻、点企鹅标志就可以和同学聊天的时候，中国网民人数已突破7亿。互联网的普及，让我们这一代青年人的成长与国家的发展更加紧密地联系在一起，我们早已可以足不出户而知天下事，此时正在蓬勃兴起的人工智能、大数据，让中国站在了第四次科技革命的前沿。我深信，中国引领世界科技潮流的重担早已落在我们的肩上，我们需要为中国的科技发展注入我们的青春活力。我更坚信，2035年的你们必将生活在一个科技更加发达的中国，你们的成长与我们的努力奋斗以及国家的命运，是一个共同体，我们都应为生活在这样一个伟大的时代和伟大的国度而自豪。
        朋友，此刻写信的我，作为18岁成年人、应承担社会责任的我，正思考着未来如何通过大学四年的学习，为全面建成小康社会添砖加瓦。身处2035年的你要知道：你所生活的现代化社会主义国家，正是千千万万个像我这样的热血青年，用18岁到35岁这多年的大好青春铸就的。两个18岁，时代的接力棒将你我紧密相连。如何实现从2035到2050年的飞跃，实现从基本实现现代化到建成现代化强国的宏伟目标，靠的是你们这一代人的拼搏努力。世界是我们的，也是你们的，但归根结底是你们的。朋友，若你读信后能有所启发，进而立志为中国梦而奋斗，那我写此一信，足慰平生。
        愿2050年的你能像我一样，有足够底气地向你的下一代说起你为中国梦的实现而奉献出青春的动人故事。
        此致
        敬礼！
        比你大18岁的朋友
        2018年6月
        </div>
    </ion-content>
</ion-view>